[2020-01-20 22:59] jackzampolin opened #1 "Implement tendermint lite client commands"
There are currently a series of commands in `cmd/lite.go` that need to be implemented. The logic should be implemented in `relayer/verifier.go` and then wired up to the CLI in `cmd/lite.go`.

cc @melekes

[2020-01-21 16:31] melekes commented on #1
cc @cmwaters

[2020-01-22 14:24] cmwaters commented on #1
Anton and I discussed the cli interface and proposed the following changes:

- Merge the Init and Update Cmd to a start command because they almost do the same thing.

- Add a getHeader and getValidatorSet command which takes the height as an argument and returns the header and validator respectively. This can be used to confirm that what has been relayed is now in the other blockchain.

[2020-01-23 08:43] melekes commented on #1
I propose the following sub-commands:

[code]

[2020-01-23 12:14] melekes commented on #1
Q:

1) do we need `lite stop` and `lite delete` sub-commands? What's the point of stopping the light client? maintenance?
2) should `lite stop` also delete all the data? What's the point of having a separate command?

[2020-01-23 17:08] jackzampolin commented on #1
@melekes agreed with removing `stop` and adding `delete`. Like the `lite get-header` and `lite get-valset`. Would be nice if you could also use that to query for the roots of trust too.

[2020-01-24 11:30] cmwaters opened #4 "CLI based package?"
Are users predominantly going to use the package through cli? How else will the package be used?

[2020-01-24 11:47] melekes commented on #5
I strongly support. Don't understand the need to initialize clients separately.

To reset them (in case of a fork) - sure, we must provide a command for doing that.

[2020-01-24 13:48] cmwaters opened #7 "Update Period is set as Trusting Period"
updatePeriod is never used

[code]

Instead the update period for the lite client is set as `lite.UpdatePeriod(c.TrustOptions.Get().Period))` where the trusted period is set here:

[code]

[2020-01-24 14:04] cmwaters opened #8 "Alternative Providers"
Lite client only has a primary provider but not the ability to add alternative providers for verifying headers.

[2020-01-24 19:12] jackzampolin commented on #8
I think the way to add this feature would be to make the `Config.RPCAddr` property an `[]string`

[2020-01-24 19:12] jackzampolin commented on #6
@melekes I think thats a reasonable assumption

[2020-01-24 19:13] jackzampolin commented on #5
@cmwaters yes this is the case. The `lite` commands are mainly for testing and admin purposes.

[2020-01-24 19:14] jackzampolin commented on #4
I'm anticipating the `lite` package being used through a CLI, yes.

[2020-01-27 08:52] melekes commented on #1
Update the list of sub-commands: https://github.com/cosmos/relayer/issues/1#issuecomment-577582199

[2020-01-27 08:52] melekes commented on #1
that's what `lite header` is for

[2020-01-27 09:15] melekes commented on #5
Good we've cleared this out 👍 So, `relayer` initially starts both light clients.

If something goes wrong and one (or both) clients expire (or there's a fork on one of the connected chains), client could be reset with `relayer lite reset [chain-id] --trusted-hash=0xaaa --trusted-height=100` OR `relayer lite reset [chain-id] --url=https://cosmos.network/hub/trustedsetup` (we should receive hash and

[2020-01-27 09:22] melekes commented on #8
NOTE: the number of alternative full nodes must be greater than 0 (more is better for security reasons). Ideally we'd show the user a warning: "Number of alternative providers is too low" if it's less than 4-5.

[2020-01-27 11:19] melekes commented on #7
Update period should be a config option imho.

[2020-01-27 11:22] cmwaters commented on #7
" Update period should be a config option imho."
As in an option in the command line or one set in the config file?

[2020-01-27 11:39] melekes commented on #7
config file

reset cmd will have a update-period flag, but we don't have to implement that now

[2020-01-27 11:42] cmwaters commented on #7
Okay, I will add that in

[2020-01-27 18:22] jackzampolin commented on #5
@melekes adding a HTTP API can def be done later. I'm fine just having the CLI for management now.

[2020-02-03 17:06] cmwaters opened #11 "Lite Client Initiation"
Lite client should not be initiated with the roots of trust from the configuration file but instead be initiated separately through the command line by either passing a header hash and height or a corresponding url. Each chain should have a non expired root of trust in order for the relayer between them to operate else an error should be thrown.

[2020-02-06 01:42] #11 closed

[2020-02-15 18:02] jackzampolin commented on #1
@melekes @cmwaters really enjoyed working with y'all on this. Going to close this issue as complete!

[2020-02-15 18:02] #1 closed

[2020-02-15 18:02] #4 closed

[2020-02-15 18:03] #7 closed

[2020-02-15 18:21] jackzampolin opened #18 "Implement release and versioning strategy for the relayer"
There needs to be a release and versioning strategy for this repository. I propose to keep it in line with`cosmos-sdk` versioning with an option for `dev` releases. This should be able to be easily accomplished with github actions. Releases should contain built binaries for `macos` and `linux` and should be able to be triggered by `v*` tag pushes. The built binaries should also be able to report t

[2020-02-15 18:25] jackzampolin opened #19 "Implement IBC Queries"
The following queries for IBC need to be implemented on the relayer. All of these queries should also return proofs. They will be mainly useful for use in `tx` commands (as a way to query the chain for the necessary on-chain data) but should also be exposed to the user:

  * [x] `header [chain-id] [height]` - Query the header at a given height
  * [x] `node-state [chain-id] [height]` - Query the n

[2020-02-15 18:27] jackzampolin opened #20 "Implement go mod caching for dependancies"
Use the github actions cache to cache build deps and speed up builds

[2020-02-15 18:31] jackzampolin opened #21 "Implement Relayer Strategies and Start command"
The relayer start command is currently worse than a stub. The basic design is there, but there are many implementation details to be worked out. Also once the transactions and queries for the relayer are created, they can easily be composed into strategies. Some potential strategies:

- [ ] naive - Relay everything from all configured to all configured chains
- [ ] two-chains - relay only between

[2020-02-15 18:33] jackzampolin opened #22 "Implement alternate key backends"
Currently the relayer uses the file backend from `99deisgns/keyring` to store all key material. We should also look at the ability to use a ubihsm or other hardware key.

[2020-02-15 18:37] jackzampolin opened #23 "Use ICS24 to validate all indentifiers"
Blocked By: https://github.com/cosmos/cosmos-sdk/pull/5588

The relayer should be able to implement this primarily in the `*cobra.Command.Args` functions: https://github.com/spf13/cobra#positional-and-custom-arguments

This should help keep the code clean, encourage reuse, and provide more instructive error messages

[2020-02-16 19:30] zmanian commented on #18
If we are going to release binaries, I think we should probably have some kind of reproducible build strategy

[2020-02-17 06:00] #20 closed

[2020-02-17 13:42] cwgoes commented on #26
"internal_error", that's not very helpful, I'll take a look.

Why are there two transactions? Are we attempting to create two clients (one per chain)?

[2020-02-17 13:48] cwgoes commented on #27
Interesting, that looks like an error that's being thrown from the `verify` function, cc @melekes.

I believe the relevant code is [here](https://github.com/tendermint/tendermint/blob/5ac81eb1986623d91decbdf3c9bc692fe4f5349b/types/block.go#L770). Possibly the client is being incorrectly created by the IBC module.

[2020-02-17 13:50] cwgoes commented on #21
Another useful option: relay only transactions sent by specific addresses.

[2020-02-17 13:50] cwgoes commented on #19
As these queries require proofs, they must all be direct store queries and can be performed using the existing store query logic, so no additional modifications are needed on the SDK side, correct?

[2020-02-17 13:52] melekes commented on #27
You can't switch `chainID` of existing `lite2.Client` client => if you want to change `chainID`, you'll need to create another instance of `lite2.Client`.

[2020-02-17 14:05] cwgoes commented on #28
I like this, except that we should still have a way to relay all channels, all connections, all clients, etc.

[2020-02-17 14:06] jackzampolin commented on #28
Agreed, we could, in the case where no `Paths` are passed do that.

[2020-02-17 14:09] jackzampolin commented on #27
@melekes I don't think thats whats the issue is. I've read over the code a number of times, but could be wrong.

[2020-02-17 14:09] jackzampolin commented on #26
@cwgoes exactly, and no that internal error isn't helpful at all

[2020-02-17 16:38] melekes commented on #27
maybe we're using the same DB? Can you change `NewLiteDB` func :

[code]

[2020-02-17 17:38] cwgoes commented on #26
Seems like "internal error" is from [types/errors/abci.go](https://github.com/cosmos/cosmos-sdk/blob/ibc-alpha/types/errors/abci.go#L161) (unsure why it is referring to "Weave", maybe this code was borrowed from that SDK?) - somewhere we must be throwing an error with code "1".

[2020-02-17 17:42] jackzampolin commented on #27
@melekes it looks like we are using separate DBs:

[code]

[2020-02-17 17:59] jackzampolin commented on #21
These are features we can add to the `Path` object later IMO and not necessary for the MVP. I think getting the structure right to accommodate those things and then adding features like this later is the right way to go.

[2020-02-17 18:50] melekes commented on #27
never mind then...

[2020-02-17 20:17] jackzampolin commented on #19
@cwgoes thats the plan, and the way it is currently implemented. All queries from the relayer return proofs.

[2020-02-17 20:21] jackzampolin commented on #18
Ok, the build process is currently producing binaries (see https://github.com/cosmos/relayer/actions/runs/40806410). We could just port over the `gaia` build stuff to here and hook it up in actions.

[2020-02-17 23:23] cwgoes commented on #26
Ah it turns out the problem is actually something about which identifier is used -

[code]

works just fine. Maybe numbers aren't valid in identifiers?

[2020-02-17 23:28] cwgoes commented on #26
Yeah, numbers aren't valid in identifiers - [x/ibc/24-host/validate.go](https://github.com/cosmos/cosmos-sdk/blob/ibc-alpha/x/ibc/24-host/validate.go#L25):

[code]

I still don't understand the "internal error" bit though, it should be `ErrInvalidID`.

[2020-02-17 23:33] cwgoes commented on #27
I don't really see how the database is relevant - this is the error being thrown by the on-chain light client when we are calling `Verify`, correct? Otherwise it wouldn't show up in the error `"raw_log"` like this (if it were some light client running locally) - I'm not sure if the relayer runs a light client yet anyways. Maybe we're somehow using the client ID as the chain ID (we shouldn't be)?

[2020-02-17 23:39] cwgoes commented on #27
Yeah, OK, [this code](https://github.com/cosmos/cosmos-sdk/blob/ibc-alpha/x/ibc/02-client/keeper/client.go#L81) is wrong:

[code]

It should definitely not be `ctx.ChainID()`, that's this chain's ID, we want the ID for the chain which this light client is tracking. I suppose this can be stored in the `ClientState`. cc @AdityaSripal Did you fix this already in the ICS 7 follow-up PR (https://github

[2020-02-18 00:19] jackzampolin commented on #27
If we store `chain-id` in `ClientState` building automation becomes way easier

[2020-02-18 06:15] jackzampolin commented on #26
I do know there was a recent refactor of the errors in the SDK cc @marbar3778 @alexanderbez

[2020-02-18 06:17] jackzampolin commented on #23
This should be done in the `PathEnd.Validate` function: https://github.com/cosmos/relayer/blob/master/relayer/chain.go#L190

[2020-02-18 09:52] alexanderbez commented on #26
These are txs? Are they failing in the handler or prior to the handler? Are they failing during validate basic?

[2020-02-18 09:59] cwgoes commented on #27
Aye, I think we will, as we need it for `Verify` in any case.

[2020-02-18 10:01] cwgoes commented on #26
The tx is failing when `DefaultClientIdentifierValidator` is called in `msg.ValidateBasic():

https://github.com/cosmos/cosmos-sdk/blob/ibc-alpha/x/ibc/02-client/types/msgs.go#L62

[code]

[2020-02-18 10:36] alexanderbez commented on #26
I see. Well, that indeed should execute the following block in `BaseApp#CheckTx`:

[code]

Where `ResponseCheckTx`:

[code]

Where `ABCIInfo`:

[code]

Where `encode`:

[code]

This error refactor was done by Ethan which is ported from Weave and modified by me (slightly). So hence there are remnants of "weave" in the comments (I need to remove those).

Point being, there is the following block:

[

[2020-02-20 00:42] #23 closed

[2020-02-23 11:17] cwgoes commented on #27
This has since been fixed (thanks @AdityaSripal).

[2020-02-23 17:41] jackzampolin commented on #27
Thats great news @cwgoes!

[2020-02-24 18:56] jackzampolin commented on #27
Still can't update clients so reopening.

[2020-02-24 19:34] jackzampolin commented on #10
This is blocked by https://github.com/cosmos/relayer/issues/26 and https://github.com/cosmos/relayer/issues/27

[2020-02-24 19:34] jackzampolin commented on #19
Currently we are debugging the proofs not returning properly

[2020-02-24 20:24] cwgoes commented on #27
Really, what is the error? This one has been fixed for me, at least running locally.

[2020-02-25 00:12] jackzampolin commented on #27
https://github.com/cosmos/relayer/pull/37/files/435568d34041535de8efcc439f4249fd7bed8bce#diff-eaf613a3c38d66fbb6d4a12dd6ab568c

[2020-02-26 19:07] jackzampolin commented on #27
We still don't have working clients afaik. Is this blocked on https://github.com/cosmos/relayer/issues/27 cc @melekes

[2020-03-02 14:11] avkr003 commented on #27
Hi all!
I was going through this issue and was trying to replicate/debug it.
The bug I found is in the client (submodule) of IBC module in cosmos-sdk which is not as per the ICS algorithm (which says `assert(header.timestamp <= currentTimestamp())` https://github.com/cosmos/ics/tree/master/spec/ics-007-tendermint-client#validity-predicate).

In line 84 and 85 (https://github.com/cosmos/cosmos-sdk/

[2020-03-02 15:27] cwgoes commented on #27
time.Now() and it works as it should.

We can't use `time.Now()` because it is subjective, so it will cause consensus divergence. `ctx.BlockTime()` is the only accessible source of time. It's true that it may impose this slight delay requirement, I think it would safe to add a grace period (say five-ten seconds or so).

[2020-03-02 16:01] avkr003 commented on #27
Oh yes, time.Now() will make it subjective. My bad. I agree, using `ctx.BlockTime() + 5 or 10s` as `currentTime` will be a good idea!

[2020-03-06 12:52] cwgoes commented on #27
@jackzampolin I'm still not sure what I should be trying to replicate here. It's true that if the two chains are out-of-sync time-wise, you might have to wait a few seconds before submitting headers produced by one chain to the other chain (see my comment above). Is that the error you're getting here (timestamps in the future)? If so, we can try adding a grace period. If it's another error, there'

[2020-03-07 14:29] cwgoes opened #39 "Check proof height for consistency"
Note that the app hash stored at height `n` is for height `n - 1`. Ref https://github.com/cosmos/cosmos-sdk/pull/5711/files#r387563476.

[2020-03-09 15:17] jackzampolin opened #40 "Create How To for setting up developer environment"

[2020-03-09 15:17] jackzampolin opened #41 "Create command line option to print out transactions before they are run"

[2020-03-09 15:23] cwgoes commented on #39
e.g. I think https://github.com/cosmos/relayer/blob/master/relayer/tx.go#L89 is wrong?

[2020-03-09 15:43] jackzampolin commented on #40
https://github.com/cosmos/relayer/pull/42

[2020-03-09 19:17] #40 closed

[2020-03-09 19:18] jackzampolin commented on #41
https://github.com/cosmos/relayer/pull/43

[2020-03-09 19:18] #41 closed

[2020-03-09 21:53] cwgoes commented on #39
Fixed!

[2020-03-09 21:53] #39 closed

[2020-03-09 23:57] jackzampolin commented on #27
I think this has FINALLY been solved in the `jack/debuggin` branch.

[2020-03-09 23:57] jackzampolin commented on #26
I think this has FINALLY been solved in the `jack/debuggin` branch.

[2020-03-13 15:00] jackzampolin opened #51 "Chains Add improvements"
As a follow-on from https://github.com/cosmos/relayer/pull/49, there are a couple of features I would like to see added to `relayer chains add`.

- `relayer chains add --url [url]` - This would fetch the json and add the chain after verifying it. Think usage from a github repo (https://raw.githubusercontent.com/cosmos/relayer/tree/master/demo/ibc0.json)
- `relayer chains add --cosmos [url]` - This

[2020-03-13 15:54] jackzampolin opened #55 "Better control flow for Connection and Channel commands"
Currently the channel and connection commands run on a timeout. They will continue to block until they are either exited, or have no more messages to create, at which point they break. This can be improved to:

- eliminate the last iteration by exiting once the `open-confirm` message is successful
- adding a max number of tries to the message
- restarting iterations earlier once queries don't retu

[2020-03-13 15:55] jackzampolin opened #56 "Dynamic unbonding time"
Currently unbonding time is hardcoded in the client creation command. We should have this be populated via the chain configuration.

[2020-03-13 16:15] jackzampolin commented on #35
This actually should be specified as an interface of the methods needed for the relayer and the current chain implementation should be moved into a `chains/tendermint` package as a concrete implemenation.

[2020-03-13 16:30] jackzampolin opened #57 "Basic web-hook alerting system"
The relayer should have some options for how to handle transactions that fail for insufficient fees. One idea is to provide an slack, telegram or other outputs for these alerts.

[2020-03-15 03:59] zmanian commented on #57
Maybe a webhook with a JSON payload?

[2020-03-15 09:12] cwgoes commented on #57
Insufficient balance to pay fees, insufficient gas allocated for computation, or insufficient fees to be confirmed? These are all different failure cases & will need to be handled separately.

[2020-03-15 15:59] jackzampolin commented on #31
closed by #59

[2020-03-16 14:25] jackzampolin commented on #47
This is complete in #63

[2020-03-16 14:26] jackzampolin commented on #62
This is complete in #63

[2020-03-16 16:04] jackzampolin commented on #55
This is fixed

[2020-03-16 16:04] #55 closed

[2020-03-16 16:05] jackzampolin commented on #54
This was fixed in #63

[2020-03-17 20:18] cwgoes commented on #21
Closing in favour of https://github.com/cosmos/relayer/issues/48.

[2020-03-17 20:18] #21 closed

[2020-03-17 20:19] cwgoes commented on #10
Blocked on separating send & receive.

[2020-03-17 21:46] jackzampolin commented on #18
versioning implemented: https://github.com/cosmos/relayer/pull/67

Will implement releases via tag push as github actions.

[2020-03-18 00:54] jackzampolin commented on #18
Ok, I've also added actions for creating releases on tag pushes. Going to go ahead and close this issue.

[2020-03-18 00:54] #18 closed

[2020-03-18 07:11] jgr-great opened #73 "Cannot add path for the two chains"
[code]

[2020-03-18 08:11] jgr-great commented on #73
This command should be `relayer paths add ibc0 ibc1-f demo/path.json`？

[2020-03-18 08:15] jgr-great opened #74 "No ’relayer q balance‘ likely"
➜  relayer git:(master) ✗ relayer q balance ibc1
query functionality for configured chains

Usage:
  relayer query [command]

Aliases:
  query, q

Available Commands:
  account            Use configured RPC client to fetch the account balance of the relayer account
  channel            Query the client for a counterparty chain
  channels           Query for all channels on a given chain
  client

[2020-03-18 11:17] jgr-great opened #75 "GolangCI-Lint Error"
[code]

[2020-03-18 15:15] ancazamfir opened #5 "Relay connCloseConfirm"
As per title, add relaying `connCloseConfirm` (cli and event based triggered).

[2020-03-18 15:24] ancazamfir opened #6 "Unhandled connection and channel state case"
A few first observations after trying the relayer commands.

- many IDs local to `ibc0` are of form `ibcone<item>` which for me intuitively meant `<item> on chain ibc1`. Maybe `<item>toibc1`...like `connectiontoibc1`,  or `connAtoB`, etc if this is a connectionID with `ibc0/ A` scope (see [demo json files](https://github.com/iqlusioninc/relayer/tree/master/demo))

- the `query connections` command

[2020-03-19 00:11] jackzampolin commented on #6
Opened https://github.com/cosmos/cosmos-sdk/issues/5829 to address the lack of local identifiers.

[2020-03-19 05:01] JakeHartnell commented on #75
I also had this issue. The open PR fixed it for me: https://github.com/cosmos/relayer/pull/77

Thanks @jhernandezb!

[2020-03-19 05:20] JakeHartnell commented on #73
A third argument `path-name` is needed. `relayer paths add ibc0 ibc1 ibc-test -f demo/path.json` worked for me.

[2020-03-19 15:53] jackzampolin opened #10 "Keys add should just output the mnemonic"

[2020-03-20 14:49] ancazamfir commented on #6
Also, was trying to figure out if we can easily demo loopback connection, channel, etc. using relayer commands. It seems that a few commands will need to change to handle same source and dest chains and single client.
Have you looked at that?

[2020-03-20 18:10] anilcse opened #25 "Generate chain specific keys (address-prefixes)"
`rly keys add $CHAINID $RLYKEY` is generating `cosmos` prefix-accounts. It should be chain specific

[2020-03-20 19:37] jackzampolin commented on #25
Thanks for opening this @anilCSE!

[2020-03-20 19:49] jackzampolin opened #26 "Path negotiation commands"
This command will look for existing clients, connections, and channels that link any pair of chains on the relayer and create a `Path` or `Path`s in the config to mirror that. Optionally, if some primitives don't exist, then names for them are generated and those primitives are created. This may be a number of different commands as the number of options here will grow quickly.

[2020-03-20 20:41] jackzampolin opened #27 "Auto Updating Headers to limit database access"
auto updating lite client from `chain.Subscribe("tm.event 'New Block'")` which keeps a `map[string]*tmclient.Header` updated. This will be used to limit database access when running multiple relayers simultaneously

[2020-03-21 04:19] zmanian opened #28 "Implement IBC transactions"
Each individual IBC transaction should be able to be run by the relayer individually as well as in logical groupings (`channel`, `connection`). These primitives can then be combined in `strategies.go` in a number of ways.

Original issue: https://github.com/cosmos/relayer/issues/10

The following are the necessary txs:
* [x] `client [src-chain-id] [dst-chain-id] [client-id]`
* [x] `update-client [

[2020-03-21 04:30] zmanian opened #30 "Implement IBC Queries"
The following queries for IBC need to be implemented on the relayer. All of these queries should also return proofs. They will be mainly useful for use in `tx` commands (as a way to query the chain for the necessary on-chain data) but should also be exposed to the user:

Original Issue: https://github.com/cosmos/relayer/issues/19

  * [x] `header [chain-id] [height]` - Query the header at a given

[2020-03-21 04:31] zmanian opened #31 "Basic web-hook alerting system"
Original issue: https://github.com/cosmos/relayer/issues/57

[2020-03-21 04:32] zmanian opened #32 "Dynamic unbonding time"
Currently unbonding time is hardcoded in the client creation command. We should have this be populated via the chain configuration.

Original issue:https://github.com/cosmos/relayer/issues/56

[2020-03-21 04:33] zmanian opened #33 "Use lite client to verify all data coming back from queries"
Original issue: https://github.com/cosmos/relayer/issues/53

[2020-03-21 04:34] zmanian opened #34 "Support Unordered channels"
original issue: https://github.com/cosmos/relayer/issues/52
[code]

This change also needs to be reflected in the configuration, validation and transactions. Likely we should default to `ORDERED` if the prop is not passed in

[2020-03-21 04:35] zmanian opened #35 "Chains Add improvements"
Original issue: https://github.com/cosmos/relayer/issues/51

As a follow-on from https://github.com/cosmos/relayer/pull/49, there are a couple of features I would like to see added to `relayer chains add`.

- `relayer chains add --url [url]` - This would fetch the json and add the chain after verifying it. Think usage from a github repo (https://raw.githubusercontent.com/cosmos/relayer/tree/master

[2020-03-21 04:36] zmanian opened #36 "Create Subscribe relayer"
Original issue: https://github.com/cosmos/relayer/issues/48

The subscribe relayer strategy should be the primary mode that the relayer is run under. It will `c.Client.Subscribe("ibc-events")` to each chain and then take the necessary actions to relay packets between chains.

This mode will `Subscribe` to all chains in the `Config` and error if all primitives in `Paths` are not setup. This is nece

[2020-03-21 16:18] kwunyeung commented on #25
It should also get the correct `coinType` so that the address will match the wallet generation on the chain. If it's not pulled from the channel, how about adding optional flags for custom prefix and hd-path?

The PR #38 is using `desmos` as prefix and the coinType is `852`.

[2020-03-21 22:29] #25 closed, assigned to nobody

[2020-03-22 08:19] anilcse opened #43 "Transfers are failing on different account-prefix chains"
Transfers are not going through between chains with different account-prefix's
Here is the log:
[code]

Looks like the client connection is failing and `QueryClientState` returning empty state for second chain

[2020-03-22 09:06] kwunyeung commented on #43
When I tested the path, it returned this error.

[code]

[2020-03-22 09:41] anilcse commented on #43
Looks like the issue is here: https://github.com/iqlusioninc/relayer/blob/master/relayer/chain.go#L144-L149

[2020-03-22 16:54] iammelea opened #45 "gaiad node crash meanwhile was runing"
https://paste.ubuntu.com/p/62dfwNjqMT/

[2020-03-22 17:05] iammelea commented on #45
just increased open files
 ulimit -n
65535

[2020-03-22 17:05] #45 closed, assigned to nobody

[2020-03-23 01:02] jackzampolin opened #47 "Failed connection or channel query with EOF unhandled"
Sometimes during channel or connection operations the following error occurs. We should handle this error properly and potentially retry the query.

[code]

[2020-03-23 15:30] jackzampolin commented on #47
I've added a retry on the EOF error that seems to fix this issue:

[code]

[2020-03-23 15:30] #47 closed, assigned to nobody

[2020-03-23 15:33] jackzampolin commented on #48
Closing in favor of https://github.com/iqlusioninc/relayer/issues/27

[2020-03-23 19:31] jhernandezb opened #48 "Packet Commitment verification fails on transfer with different account prefix"
Packet commitment verification fails when transferring to a destination chain that uses a different prefix .

 I[2020-03-23|12:25:29.051] ✔ [ibc0]@{286} - msg(transfer) hash(CB9A024A586095C64540B3970026DA203BB0CD386305EE6D93DAE6786E7AB321)
I[2020-03-23|12:25:30.307] - [ibc1] -> sending transaction:
[TRANSACTION INFO](https://gist.github.com/jhernandezb/2e93e7d04d642f426189ebe25a5106eb)

I[2020-03-

[2020-03-24 00:25] jackzampolin opened #50 "can't open lite client database: resource temporarily unavailable"
This is an error we should gracefully handle in all cases with an exponential backoff.

[2020-03-24 00:25] jackzampolin commented on #26
Blocked on: https://github.com/cosmos/cosmos-sdk/issues/5829
Blocked on: https://github.com/cosmos/cosmos-sdk/issues/5617

[2020-03-24 00:30] jackzampolin commented on #34
Currently the relayer assumes an ordered channel in a couple of places. It will be relatively easy to support unordered channels through a separate code path in the near future, but focusing development on ordered channels will get us to a great user experience sooner.

[2020-03-24 15:51] cwgoes commented on #48
We should check how the destination address is being serialised, it may need to take the account prefix into account somehow.

[2020-03-24 15:55] jackzampolin commented on #48
Should we move this issue over to Gaia?

[2020-03-24 15:59] jackzampolin commented on #73
This repo is a mirror please go to https://github.com/iqlusioninc/relayer` for the up to date code.

This is fixed in the docs now. Closing.

[2020-03-24 15:59] #73 closed

[2020-03-24 16:00] jackzampolin commented on #74
This repo is a mirror please go to https://github.com/iqlusioninc/relayer` for the up to date code.

This feature is added now.

[2020-03-24 16:00] #74 closed

[2020-03-24 17:04] jackzampolin commented on #83
@mjackson001 thanks for trying this out! the most current relayer code is over at https://github.com/iqlusioninc/relayer and there are updated instructions there. This looks like you need to run `rly tx full-path ibc0 ibc1` before trying the transfer.

[2020-03-24 17:05] jackzampolin commented on #76
I'm unable to reproduce this and I believe that this issue is fixed in the latest master which is over in the https://github.com/iqlusioninc/relayer repo. If the issue persists please open it over there.

[2020-03-24 17:06] jackzampolin commented on #75
Thank you @jhernandezb, I've got all the lint issues fixed over at https://github.com/iqlusioninc/relayer. If you continue to see issues, please open them over there.

[2020-03-24 17:06] #75 closed

[2020-03-24 19:01] ebuchman commented on #26
So I managed to pull this off manually as follows:

- `rly query clients <src-chain>`, find the entry with the chain_id of the `<dst-chain>`, and grab that client id. now we have the `<src-client-id>`
- `rly query client-connections <src-chain> <src-client-id>` to get the connection id. now we have the `<src-conn-id>`.
- `rly query connection <src-chain> <src-conn-id>` to get the destination chain

[2020-03-24 20:40] jackzampolin opened #52 "Rest server for all CLI functionality"
- [x] Implement rest APIs for CLI commands (#323 )
- [ ] Fix all TODOs and rework on `PostRelayerListenHandler` API
- [ ] Add swagger docs

[2020-03-24 21:40] cryptophonic opened #53 "Segmentation violation while following README"
Getting the following error about 1/2 way down the README instructions

$ rly tx full-path demo-path
I[2020-03-24|15:38:42.463] ✘ [ibc0]@{0} - msg(0:create_client) err(sdk: tx parse error)
I[2020-03-24|15:38:42.476] ✘ [ibc1]@{0} - msg(0:create_client) err(sdk: tx parse error)
panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation code=0x1 ad

[2020-03-24 21:41] cryptophonic commented on #53
$ gaiad version
0.0.0-243-ga9aa9ea

$ rly version
version: 0.1.0-60-g157637b
commit: 157637bf44536a2b4856ed7d779f7c62b6a1dd93
cosmos-sdk: v0.34.4-0.20200318160616-b8295506615b
go: go1.14 linux/amd64

[2020-03-24 21:52] jackzampolin opened #54 "Integration tests"
The current plan is to test the `relayer` package using something like https://github.com/ory/dockertest and a gaia image that allows for passing in addresses to be funded for genesis. Will work on getting this setup.

[2020-03-24 21:53] jackzampolin commented on #26
See the linked issues.

[2020-03-24 21:53] jackzampolin commented on #26
Should be pretty easy. Should have this working mid-week next week.

[2020-03-24 21:59] jhernandezb commented on #54
I can help with this as well

[2020-03-25 21:54] jackzampolin commented on #54
@jhernandezb I've got an approach here https://github.com/iqlusioninc/relayer/pull/58 going to clean this up this afternoon. What do you think?

[2020-03-25 21:56] jackzampolin opened #59 "Document Relayer Folder Structure and CLI"
There needs to be some documentation on:
- [ ] relayer folder structure,
- [ ] formats and purposes of all files in ~/.relayer
- [ ] notes about the different configuration options.

[2020-03-26 15:03] cryptophonic commented on #53
seems to be fixed with the latest build / master branch

[2020-03-26 15:35] jackzampolin opened #60 "Add ability to send on local chain"
This is for sending tokens between two accounts.

[2020-03-27 04:29] dryruner commented on #53
@mjackson001 I'm still seeing the same error with latest build :( :

$ rly version
version: 0.1.0-75-g717f5d0
commit: 717f5d04306fa053bcf949ad1906ccdb8bb8ccea
cosmos-sdk: v0.34.4-0.20200324184639-0ed9ed648788
go: go1.14 darwin/amd64

[2020-03-27 06:11] jackzampolin commented on #48
Closing this in favor of https://github.com/iqlusioninc/relayer/issues/43 as that was the first report.

[2020-03-27 06:12] #48 closed, assigned to AdityaSripal

[2020-03-27 06:12] jackzampolin commented on #36
This has been completed! 🎉

[2020-03-27 06:12] #36 closed, assigned to nobody

[2020-03-27 06:13] jackzampolin commented on #35
Closing this as we have have the chains add url already and the other one seems less useful and more gaia specific

[2020-03-27 06:13] #35 closed, assigned to nobody

[2020-03-27 06:14] jackzampolin commented on #28
Only transaction left that I'm slightly unsure about is relaying timeouts and packet acks

[2020-03-27 06:15] jackzampolin commented on #10
This has been completed!

[2020-03-27 06:15] #10 closed, assigned to nobody

[2020-03-27 06:15] jackzampolin opened #62 "Improved failure case when another relayer has already relayed a packet"

[2020-03-27 06:28] jackzampolin commented on #50
I think solution might be to wrap database calls in this: https://github.com/avast/retry-go

[2020-03-27 09:17] wlsaud619 opened #64 "How to fix "rly tx link [paths-name]" Errors."
The following error occurs when 'rly tx link [path-name]' command is used after setting paths in some validators.
[code]

### Solution.
Install the latest versions of **gaiad** and **relayer** for `gaiad.service` and `faucet.service` and restart.

After applying the solution, I checked that the information in my chain is coming out correctly.
However, the problem remains because the other party's

[2020-03-27 15:10] jackzampolin commented on #64
@wlsaud619 that is correct, please expect breaking changes during the alpha releases. This issue will not be present in the GoZ software.

[2020-03-27 15:10] #64 closed, assigned to nobody

[2020-03-27 15:31] jackzampolin commented on #64
I've updated my node and the clients create successfully, but it looks like you are pruning old states on your node. You need to be running with `--pruning=nothing`

[2020-03-27 16:04] cryptophonic commented on #53
I was able to get it to work here on the latest code this morning.  Reopening for more information but it does seem to work here.

[2020-03-27 18:39] jackzampolin commented on #50
Thinks this is now fixed in #66 🎉

[2020-03-27 18:39] #50 closed, assigned to nobody

[2020-03-28 15:30] cryptophonic commented on #53
This morning the build is not working, failing with a similar error.  The logs seem to indicate some sort of a transaction timeout.

[code]

[2020-03-30 22:06] jackzampolin opened #68 "Add testDenom or Denoms to testChains"
The test chains themselves should know which denoms they have

[2020-03-30 22:11] jackzampolin opened #69 "Fix ci lint"
The CI linter is failing intermittently, should be fixed.

[2020-03-31 21:48] colin-axner opened #71 "Two-Chainz silent failure on unconventional gaia setup"
When running `./two-chainz`, there will be a silent failure if the user does not have the `origin` remote setup (on their gaia repo) or has their `origin` remote pointing to a different repo (a fork) other than `github.com/cosmos/gaia`. It silently fails because the output is being directed to `/dev/null`

Unlikely scenario, but I figured I'd open an issue in case someone runs into this issue. One

[2020-04-01 15:18] jackzampolin opened #76 "Better way to install docker in tests"
Currently we are installing docker on top of an ubuntu base image to run the unit tests for various chain compatibility tests. It would be ideal if we could avoid that step by having an image with it preinstalled.

[2020-04-01 15:23] jackzampolin commented on #71
@colin-axner would love to see a PR to fix this issue! Also 👋 good to see you here!

[2020-04-01 15:51] rmontagnin commented on #43
This seems to be a lot more complex than it looks like.

The actual problem lies inside the Cosmos SDK code, and the fact that it uses a singleton SdkConfig object that contains the account prefixes.

Now, let's assume you have two different chain codebases:

- Chain A has account prefix `alice`
- Chain B has account prefix `bob`

In order to send some tokens from chain A to chain B, the following

[2020-04-02 15:34] #71 closed, assigned to nobody

[2020-04-08 11:40] cwgoes commented on #53
Closing in favour of https://github.com/iqlusioninc/relayer/issues/33.

[2020-04-08 14:55] sorawit opened #83 "`rly st [path]` fails if killed and run again"
The first time I ran `rly st [path]`, everything is going OK.
[code]

But when I killed it and ran it again, I got the following error.
[code]

[2020-04-09 01:46] jackzampolin commented on #83
There are a number of changes we are incorporating right now. I've seen some similar but inconsistent errors in these cases. Will work on sussing those out after we get this current set of changes in the SDK integrated. Thank you for the report and will be sure to look into it!

[2020-04-09 15:53] cwgoes commented on #43
@zmanian suggests `sdk.ForeignAddress` with prefix included in the address type.

Also we need to check the prefixes associated with a given channel, since they should be fixed (for a particular chain on the other end).

[2020-04-09 16:00] cwgoes commented on #43
Alternatively we could just change the type to a new-typed string (duh?).

[2020-04-09 18:28] jackzampolin commented on #43
I've opened an issue on the sdk for this work: https://github.com/cosmos/cosmos-sdk/issues/5977

[2020-04-10 18:04] jackzampolin opened #84 "Incorporate IBC application versioning into relayer"
Currently we have the `ibc-app-version` hardcoded to `ics20-1` for all messages. This needs to be changed to allow for more dynamic input.

[2020-04-10 18:05] jackzampolin opened #85 "Support Unordered channels"
We need to support unordered channels for IBC.

[2020-04-14 18:25] ronaldstoner opened #90 "Sequence send not found"
My first test of two-chainz was successful, but having issues after retrying due to sequence send not found. I've closed and re-opened the channel, re-started both chains locally, verified balances, and initiated lite clients. I'm not sure what else I am missing. The following error occurs with both chains trying to transfer to each other.

```stoner@stonerzone:~/iqlusion/relayer$ rly tx transfer

[2020-04-15 14:44] Alexader opened #94 "Atomic swap support"
When I followed the demo instructions to run a cross chain transfer, I found that the if the command `rly tx transfer ibc0 ibc1 10000n0token true $(rly keys show ibc1 testkey)` failed, the balance in ibc0 will reduce and can't get rollbacked. Is there any atmoic swap guarantee mechanism in ibc now or any support in future plan?

[2020-04-16 00:37] jackzampolin commented on #90
@ronaldstoner thanks for the report. If you are having issues please include full reproduction steps and run the commands with `-d`. This will include full output from the command including raw transaction data.

[2020-04-16 00:39] jackzampolin opened #93 "Add agoric chain to github actions"

[2020-04-16 16:40] steevi opened #95 "Issue with the instructions in the Readme file?"
Hello!

I tried setting two chains using gaia, and then use the relayer to do IBC transactions. The commands/instructions were taken from the Readme.md from the master branch.

The two chains launched successfully, and I was able to query the balances of the two accounts by using the rly executable.

When I execute `rly tx full-path demo-path`, an error message `channel capability not found` was g

[2020-04-16 20:20] steevi commented on #95
The following output is created if debug mode is enabled for the command `rly tx full-path demo-path`

[code]

[2020-04-17 08:43] weichang-x commented on #90
Same issue here:
[code]

[2020-04-17 12:00] cwgoes commented on #95
You might have more success opening this issue on https://github.com/iqlusioninc/relayer.

[2020-04-17 14:54] steevi commented on #95
Everything works from that fork.

Thanks a lot

[2020-04-17 14:54] #95 closed

[2020-04-19 05:37] 1xCL opened #100 "`rly version` requires to be executed in relayer directory"
Running `rly version` from $HOME throws
[code]
But from the relayer directory, it works.
[code]

[2020-04-19 18:26] jackzampolin opened #103 "Concurrency and account queries"
Sometimes transactions will fail due to incorrect account sequence numbers that haven't been updated properly.

[2020-04-19 18:27] jackzampolin commented on #100
This is an interesting bug! I will be sure to look into this as I would really like the SDK version to be included in this output, but the way I'm currently pulling it looks to be problematic.

[2020-04-19 18:28] jackzampolin commented on #27
Implemented in #97

[2020-04-19 18:28] #27 closed, assigned to nobody

[2020-04-19 18:28] jackzampolin commented on #28
Closing this as substantially complete.

[2020-04-19 18:28] #28 closed, assigned to nobody

[2020-04-19 18:29] jackzampolin commented on #43
Pretty sure this is resolved by @cwgoes work.

[2020-04-19 18:31] jackzampolin commented on #53
I'm pretty sure this was due to queries for transactions returning bad data. I've added retries and safety checks here. Going to go ahead and close the issue.

[2020-04-19 18:31] #53 closed, assigned to nobody

[2020-04-19 18:31] #43 closed, assigned to cwgoes

[2020-04-19 18:31] jackzampolin commented on #54
This is implemented and working.

[2020-04-19 18:31] #54 closed, assigned to jackzampolin

[2020-04-19 18:31] jackzampolin commented on #59
See the docs/config.md file for this information.

[2020-04-19 18:31] #59 closed, assigned to nobody

[2020-04-19 18:32] jackzampolin commented on #76
turns out docker is already installed on the stock ubuntu image used by GH actions. Closing this issue as not actionable.

[2020-04-19 18:32] #76 closed, assigned to nobody

[2020-04-19 18:34] jackzampolin commented on #83
Going to go ahead and close this as I haven't been able to reproduce. If you are able to reproduce this issue please paste the full debug output (run with `-d`) and a reproduction case so that I can debug. Thank you for the report @sorawit

[2020-04-19 18:34] #83 closed, assigned to nobody

[2020-04-20 07:03] jackzampolin commented on #6
@ancazamfir I've substantially refactored the relayer and it should be able to handle the loopback case. Might be a couple of small errors but I don't think it should be an issue. The loopback client just landed in the SDK so would be cool to test it. As for your original issue I think I've addressed pretty much everything there except the unhandled connection and channel handshake cases. I'll lea

[2020-04-20 07:08] jackzampolin commented on #26
And this has taken a bit longer than expected but I have a good deal of this functionality in the relayer. Once #104 lands `rly paths gen` will try to reuse any existing primitives automagically. Previously, I've already added an experimental `rly paths find` command that will find all paths between all configured chains. It works pretty well on the 4 node testnet I've been working with locally.

[2020-04-20 07:09] jackzampolin commented on #68
This is a nice to have

[2020-04-20 07:09] jackzampolin commented on #34
#104 begins this work

[2020-04-20 12:18] ancazamfir commented on #6
re: loopback
I am not sure how the loopback connection should be configured. I tried a number of things:

1) configure a single connectionend with counterparty having the same connectionId as local
[code]
On the `conn-ack` I see:

[code]
I believe this is caused by this in the connection handler:
[code]
We should allow also `exported.TRYOPEN`

There is an issue for SDK that mentions this, see #4 i

[2020-04-21 12:46] cwgoes commented on #85
I presume that ordered/unordered will be added as an option in each path's configuration?

[2020-04-21 12:48] cwgoes opened #109 "Estimate gas prices instead of using a constant value"
Constant gas (e.g. `200,000`) in the configuration will not work in general, as IBC packet receipt may initiate further state transitions which consume more gas, and it's less efficient than estimating gas first, since `200,000` gas (or whatever the config value is) may not be required.

[2020-04-21 12:50] cwgoes opened #110 "Support listening on multiple paths at once"
As title, e.g. with `rly start`, instead of accepting only one path, accept any number of paths, and listen on all of them simultaneously.

It will likely be easier to do this by adding a list of paths to listen on by default to the configuration.

[2020-04-21 12:51] cwgoes commented on #85
Also, is this a duplicate of https://github.com/iqlusioninc/relayer/issues/34?

[2020-04-21 12:52] cwgoes commented on #62
What will we do in this case? Other than just not bother relaying the packet if it has already been relayed - which we should certainly do - if we relay a packet and the receive fails because another relayer relayed it first, it would be nice to print a helpful error which indicates that this happened, so that the user can e.g. check whether they intended to relay on this path.

[2020-04-21 12:53] cwgoes commented on #32
Yes, and additionally, when creating *IBC* light clients, it should be possible for the user to specify the unbonding period & trusting period (which is a parameter in client creation) in the configuration.

[2020-04-21 12:57] cwgoes commented on #84
Yes; it would be nice to tie this into a standard metadata format for all IBC application-layer protocols.

Ref https://github.com/cosmos/ics/issues/413.

[2020-04-21 13:02] cwgoes opened #111 "Bootstrap light clients from already-trusted chains"
Let's say I've already set up a light client for chain `Alpha`, and chain `Alpha` has *IBC* light clients (i.e. in state) for chains `Bravo` and `Charlie`. Since I can verify state on `Alpha`, I should be able to pull the data (configuration, consensus state, unbonding period, etc.) from the on-chain clients to setup local clients for `Bravo` and `Charlie` - then I can relay between all three chai

[2020-04-21 13:04] cwgoes opened #112 "Misbehaviour monitoring & relay"
Given a particular configuration option, using the local light clients, the relayer should periodically check if any conflicting (equivocating) headers have been submitted to any on-chain IBC light clients on the chains which are being monitored (relayed between), and if they have, the relayer should automatically submit proof-of-misbehaviour to freeze the on-chain light clients (and print a very

[2020-04-21 13:07] cwgoes opened #113 "Support multiple kinds of light clients"
As far as I can tell, right now, the relayer just support Tendermint light clients (ICS 7).

We should update the code to deal with clients more generically, and we should be able to support loop-back clients ([spec](https://github.com/cosmos/ics/tree/master/spec/ics-009-loopback-client), [implementation](https://github.com/cosmos/cosmos-sdk/pull/6018)) now, and other types (e.g. GRANDPA) later.

[2020-04-21 13:13] cwgoes commented on #5
Presumably this has been closed by https://github.com/iqlusioninc/relayer/pull/7.

[2020-04-21 13:13] #5 closed, assigned to ancazamfir

[2020-04-21 13:15] cwgoes commented on #57
Closing in favour of https://github.com/iqlusioninc/relayer/issues/31.

[2020-04-21 13:15] #57 closed

[2020-04-21 13:15] cwgoes commented on #52
Closing in favour of https://github.com/iqlusioninc/relayer/issues/34.

[2020-04-21 13:15] cwgoes commented on #51
Closing per https://github.com/iqlusioninc/relayer/issues/35.

[2020-04-21 13:15] #51 closed

[2020-04-21 13:15] cwgoes commented on #56
Closing per https://github.com/iqlusioninc/relayer/issues/32.

[2020-04-21 13:15] #56 closed

[2020-04-21 13:16] cwgoes opened #114 "Concurrent design patterns"
Moved from https://github.com/cosmos/relayer/issues/36.

Should we recreate a light client each time we need one, to avoid locking the database, or should we alternatively find some way of persisting a light client instance without having the light client lock the database (maybe we can make all our calls using the light client API)?

[2020-04-21 13:16] cwgoes commented on #36
Closing in favour of https://github.com/iqlusioninc/relayer/issues/114.

[2020-04-21 13:17] cwgoes commented on #94
Hmm, that's odd - can you re-open this on https://github.com/iqlusioninc/relayer with a detailed list of instructions to reproduce and the result of queries after you execute the commands?

[2020-04-21 13:17] #94 closed

[2020-04-21 13:18] cwgoes commented on #19
Closing in favour of https://github.com/iqlusioninc/relayer/issues/30

[2020-04-21 13:18] #19 closed

[2020-04-21 13:18] cwgoes commented on #10
Closing in favour of https://github.com/iqlusioninc/relayer/issues/28.

[2020-04-21 13:19] cwgoes commented on #35
@jackzampolin Should this be closed or moved to https://github.com/iqlusioninc/relayer?

[2020-04-21 13:19] cwgoes commented on #8
@jackzampolin Should this be closed or moved to https://github.com/iqlusioninc/relayer?

[2020-04-21 13:19] cwgoes commented on #22
@jackzampolin Should this be closed or moved to https://github.com/iqlusioninc/relayer?

[2020-04-21 14:35] cwgoes commented on #110
Decided not to do this for now.

[2020-04-21 14:35] #110 closed, assigned to nobody

[2020-04-21 14:39] cwgoes commented on #114
(this may no longer be applicable, just moved it from the cosmos/relayer repo)

[2020-04-21 14:41] cwgoes commented on #114
Decided no changes are necessary here for now.

[2020-04-21 14:41] #114 closed, assigned to nobody

[2020-04-21 17:06] ancazamfir commented on #6
An update on this, the relayer seems to create a tendermint client on `rly tx raw client ibc0 ibc0 loopbackclient`. Should it create a loopback client if src, dest chains are the same. @jackzampolin?

[2020-04-21 21:05] jackzampolin commented on #111
This would be a really cool feature! The `./four-chainz` script is a good starting point for any developer would like to build out this feature~

[2020-04-22 07:42] 0mustafasevinc0 opened #116 "rly tx link demo , i am get error"
I cannot perform operations of "https://github.com/iqlusioninc/relayer". I'm getting an error. Where am I making mistakes.

root@cb520bd2d4e2:~# rly tx link demo
I[2020-04-21|14:59:27.222] ✘ [ibc0]@{0} - msg(0:create_client) err(sdk: tx parse error)
I[2020-04-21|14:59:27.241] ✘ [ibc1]@{0} - msg(0:create_client) err(sdk: tx parse error)
I[2020-04-21|14:59:28.152] ✘ [ibc0]@{29406} - msg(0:channel_op

[2020-04-22 21:51] jackzampolin opened #118 "Make relayer actually only relay over channel/port that is configured."

[2020-04-23 05:36] jackzampolin opened #120 "Gracefully handle signature verification failed errors"
Most of these errors come from a stale account state query. We should ignore these errors and retry. In the case of other transaction errors we should fail.

[2020-04-23 09:35] xyz2020 commented on #116
me too

[2020-04-23 09:59] 0mustafasevinc0 commented on #116
It works only in these versions.For now new versions are not working. You can go to older versions by saying "git checkout <commit-hash>".

Gaia Version Info
$ gaiad version --long
name: gaia
server_name: gaiad
client_name: gaiacli
version: 0.0.0-303-g9a09e54
commit: 9a09e5499c25f8bbe48f2f9abe6f74360923266b
build_tags: netgo,ledger
go: go version go1.14 darwin/amd64
Relayer Version Info
$ rly vers

[2020-04-23 09:59] #116 closed, assigned to nobody

[2020-04-23 12:46] daluxxx opened #124 "Error when initializing the chain on the local setup"
The server setup works like a charm for me. However, when I do the local setup on a standalone server, I get the following error when initializing the lite client for mychainid:

rly lite init mychainid -f
Error: only one witness left. please reset the light client
only one witness left. please reset the light client

I also reinstalled both machines, and again the same error. Base system is Ubunt

[2020-04-23 17:00] jackzampolin commented on #8
Should be closed, I've got the lite client integrated.

[2020-04-23 17:00] #8 closed

[2020-04-24 07:05] wangfeiping opened #126 "execute "systemctl status gaiad" failed"
CentOS Linux release 7.7.1908 (Core)

rly version
version: 0.3.0-1-g5879ef9
commit: 5879ef9375f7422c4aed677c5b7c22b94058ad18
cosmos-sdk: v0.34.4-0.20200423152229-f1fdde5d1b18
go: go1.14.1 linux/amd64

gaiad version --long
name: gaia
server_name: gaiad
client_name: gaiacli
version: 0.0.0-333-gd26d6ed
commit: d26d6eddcf8dbb87ed101f69419e3b79cdb568c6
build_tags: netgo,ledger
go: go version go1.14.1 l

[2020-04-24 12:24] daluxxx commented on #124
I found the issue for the problem:

When there is the string "stake" in the CHAINID, then the command sed -i "s/stake/$DENOM/g" ~/.gaiad/config/genesis.json is not working properly, because in the genesis.json the a wrong chainid is inputted. When I then manually change the chainid in the genesis.json, everything is working fine.

[2020-04-24 14:25] wangfeiping commented on #126
I changed version of gaia, but still failed.

name: gaia
server_name: gaiad
client_name: gaiacli
version: 0.0.0-180-g50be36d
commit: 50be36de941b9410a4b06ec9ce4288b1529c4bd4
build_tags: netgo,ledger
go: go version go1.14.1 linux/amd64

$ vi /root/.gaiad/config/genesis.json
[code]

[2020-04-24 16:21] jackzampolin opened #132 "Add sanity check that link is ready to be relayed over before starting relayer"

[2020-04-24 16:28] jackzampolin commented on #124
@daluxxx you need to update to `v0.3.0` of the relayer and `gaiad` version should match that here: https://github.com/iqlusioninc/relayer/tree/master/testnets

[2020-04-24 16:34] daluxxx commented on #124
I updated to the newest version v0.3.0 and the problem is still there. When there is the word "stake" in the $CHAINID, then the command "sed -i "s/stake/$DENOM/g" ~/.gaiad/config/genesis.json" is generating a wrong chainid in the genesis.json file.

[2020-04-24 17:12] colin-axner opened #135 "Transition cli cmds to use x/ibc cli implementations"
Currently it seems all the cli commands are fully implemented on this repo and do not rely on the cli implementation on `x/ibc`. I think it would be useful to eventually transition these cli commands to use the `x/ibc` code since folks developing ibc will probably use that. If I'm not mistaken Game of Stakes provided good user feedback on cli interactions and bugs and Game of Zones will likely lea

[2020-04-24 23:42] asmodat commented on #100
I encountered exactly the same bug as OP here, but while building a testnet environment using docker.

[2020-04-25 02:21] wangfeiping commented on #126
After re-setup 5-6 times,
delete the relayer repo: $GOPATH/src/github.com/iqlusioninc/relayer;
delete the relayer data path: /root/.relayer/;
delete the data path: /root/.gaiad/;
restart the server;

gaiad is running.

I don't really know what happened.

[2020-04-25 02:21] #126 closed, assigned to nobody

[2020-04-25 09:24] KenianShi opened #98 "rly paths add ibc error"
~/go/src/github.com/cosmos/relayer$ rly paths add ibc0 ibc1 demo-path -f demo/path.json
Error: channel must be either 'ORDERED' or 'UNORDERED' is ''
channel must be either 'ORDERED' or 'UNORDERED' is ''

[2020-04-26 00:32] jackzampolin opened #149 "Tx Link issues"
In the case where client creation fails, connection creation is skipped, but channel creation is tried.

[2020-04-26 00:33] jackzampolin commented on #149
[code]

Retry the channel queries

[2020-04-27 07:02] jaybxyz commented on #100
I also encountered the same error message as I tried to print `relayer` version info outside of $RELAYER path. I found that [this code](https://github.com/iqlusioninc/relayer/blob/v0.3.0/cmd/version.go#L34) looks up `go.mod` file in the underlying directory.

[2020-04-27 12:33] anilcse commented on #25
Looks like this is popped up again. @jackzampolin is the support for different prefixes removed?

[2020-04-27 14:38] kvdv80 opened #160 "err(sdk: unauthorized) on tx when relay listener is on the same path"
When I’m sending some funds between chains and the relay listener is on the same path I see in the listener log is was successful but the output from the transfer command is : `msg(0:update_client,1:ics04/opaque) err(sdk: unauthorized).`

The TX was successful
Also seen it vice versa. So the error in the listener log and successful in the tx output

Relay listner on a diffrent path:
`rly tx xfer m

[2020-04-27 17:32] cwgoes opened #162 "List of paths / showing a path should show sequence numbers & channel type"
When paths are pretty-printed with `rly paths list` or `rly paths show`, it would be nice to see:

- Type of channel (ordered or unordered)
- Current send sequence & receive sequence on each side (maybe only with `show`) and some status indicator to mark whether or not unrelayed packets are in the queue

[2020-04-27 17:35] cwgoes opened #164 "Add watch command to pretty-print IBC-relevant logs"
I think it might be useful to have a sort of `relayer watch` command, which:

- Watches event logs on all configured chains (for which light clients have been set up)
- Pretty-prints all events related to IBC: client creation, client updates, handshake steps, packets, acks, timeouts, etc.
- Displays helpful metadata (e.g. which relayer relayed the packet, time delay between send/receive)

The comm

[2020-04-27 17:42] cwgoes opened #165 "Relay command should print out transactions sent"
It seems `rly transact relay [path]` does not pretty-print transactions by default - can it do that (just like `rly start [path]` does, maybe with a flag? It is very helpful.

[2020-04-27 17:43] cwgoes commented on #149
Have you considered making this command interactive - e.g. prompting the user whenever a step of the handshake fails as to whether they want to continue or not? On mainnet these transactions will cost gas (= $$), so users might want more conservative default retry behaviour.

[2020-04-27 17:44] cwgoes commented on #118
Ah, does it relay everything at the moment? I think both modes would be helpful if possible.

[2020-04-27 20:12] jackzampolin commented on #126
Thank you for the update here @wangfeiping! Glad you were able to get everything working.

[2020-04-27 21:56] jackzampolin commented on #160
Hi! A little explanation is in order here. Thank you for digging into this and recognizing that there is an error. The `rly tx transfer` command sends both the transfer send and recieve with one command. The `rly start` sends just the second piece of that, so you have two processes racing to create the same transaction. That one of them fails is expected. If you would like to just send the first t

[2020-04-27 21:56] #160 closed, assigned to nobody

[2020-04-27 22:00] jackzampolin commented on #135
@colin-axner I would accept a PR for that change. Please feel free!

[2020-04-27 22:02] jackzampolin commented on #165
This is the output given when running it which is the same as the `rly start` output:
[code]
Is this sufficent?

[2020-04-27 22:03] jackzampolin commented on #162
I don't know about adding anything additional to `rly pth l` because we are already running into perf issues there 🙊 but adding all these features to show would be very helpful. Going to do this.

[2020-04-28 08:42] cwgoes commented on #165
Hmm, maybe I just did it incorrectly for some reason. If that is the output, that looks fine. Closing.

[2020-04-28 08:42] #165 closed, assigned to nobody

[2020-04-28 16:13] jackzampolin opened #176 "Add logging when lite client created successfully"
Also add lite client debug logging

[2020-04-29 17:32] harsh-98 opened #188 "A tx is a combination of two txs. Data inconsisency on chain."
Other weird issue that , I found is below packet has two txs and the second tx in array has two is itself a combination of two tx

- one( from pylon to my chain in pylon )
- second ( from pyloon to everstake in evertake ).

How can be a tx combination of 2 txs? Because of this, i can not relay all the packets in my channel from pylonchain to setanchain(my chain). While relay the packets i got erro

[2020-04-29 17:57] harsh-98 opened #190 "Packet with two packet_dst_channel. That's why relaying packet on channel is failing."
Trying to transfer funds between melea-11 and pylonchain is failing with packet commitment failed.

[code]

Then I tried to query the unrelayed packets.

[code]
So, obvious i tried to relay not received to either side.

[code]

I tried to print the. packets it is sending and i findout that for packet in above packet.json, it is giving this error. Since the packet has two different packet_src_chann

[2020-04-29 21:03] ronaldstoner commented on #90
Resolving this as I have not been able to reproduce.

[2020-04-29 21:03] #90 closed, assigned to nobody

[2020-04-30 16:51] kvdv80 opened #208 "Error handling after connection is frozen and making new TX transfer after lc init"
I’ve setup the two-chainz and changed the trusting-period to 5m. Let this time expire and after that init the light clients again

`rly lite init ibc0 -f && rly lite init ibc1 -f`

Making an tx transfer:
`rly tx transfer ibc0 ibc1 10000n0token true $(rly keys show ibc1 testkey)`

Error:

[code]
[code]
[code]

[2020-04-30 19:08] jackzampolin commented on #190
We need to implement timeouts and unordered channels to fully resolve this issue cc @AdityaSripal @cwgoes @fedekunze

[2020-04-30 20:47] jackzampolin commented on #208
This is a case of incorrect error coming from the SDK. We should update this error, but this tx should throw.

[2020-04-30 22:06] #30 closed, assigned to nobody

[2020-05-01 01:33] liangping opened #212 "Bug： Amino:JSON int/int64/uint/uint64 expects quoted values for javascript numeric support, got: 80.)"
$rly tx link ping2kava
E[2020-05-01|01:22:05.315] - [kava-ibc] -> err(invalid character -- Amino:JSON int/int64/uint/uint64 expects quoted values for javascript numeric support, got: 80.)

[2020-05-01 07:02] asmodat opened #213 "It is not possible to close IBC channels"
Doesn't matter on which established path I will run `rly transact channel-close`, they will never close.

My Gaia checkout is `50be36d` and relayer `v0.3.0`

example:

[code]

[2020-05-01 07:34] asmodat commented on #213
Also, timeout flag is totally ignored, even if you specify for example `rly transact channel-close kira-alpha_setanchain --timeout 10s --debug` the timeout is ignored and the command is pending forever

[2020-05-01 09:19] cwgoes commented on #190
I don't quite understand the problem. It looks to me like you need to relay the packets in order, since this is an ordered channel - so relay packet `17`, `18`, etc. until `1404`. The packet data should always be retrievable by querying the event logs; I don't know what the precise source of that error message is.

A packet never has two `src_channel`s, regardless of what kind of channel is being

[2020-05-01 12:28] asmodat opened #215 "Relayer does not allow to transfer tokens between 3 different chains (invalid coin set)"
If you try to send coins from chain A to B to C the relayer fails with `invalid coin set` error

[code]

[2020-05-01 17:06] iammelea opened #216 "rly chains add = Error: time: invalid duration, but→ rly chains add-dir $PATH= oke"
when ```"trusting-period":"90m"```
[code]
but same 90m time

[code]

[2020-05-01 17:08] jackzampolin commented on #216
this is a chains add issue. know how to fix. will push v0.3.2 with this soon

[2020-05-02 05:11] harsh-98 commented on #190
The source of error is having two src_channel in the TX. Because of this, rp.pass is getting true https://github.com/iqlusioninc/relayer/blob/master/relayer/naive-strategy.go#L291. So, at https://github.com/iqlusioninc/relayer/blob/master/relayer/naive-strategy.go#L321 the packet is not appended. Hence, instead of returning from the function it is getting this error.

Also, i agree the packet shou

[2020-05-04 02:48] zhangyelong opened #224 "Failed to create channel after restarting the node, err(port: invalid port)"
Failed to create channel after restarting the node due to capability initialize failed

## Version

[code]

## Reproduce

[code]

Relates: https://github.com/cosmos/cosmos-sdk/pull/6127 https://github.com/cosmos/gaia/pull/386

[2020-05-04 03:01] #224 closed, assigned to nobody

[2020-05-05 00:11] jackzampolin commented on #212
I've been unable to consistently reproduce this issue and I'm pretty sure it has to do with version mismatch. If you continue to see this error please reopen the issue

[2020-05-05 00:13] #212 closed, assigned to nobody

[2020-05-05 00:14] jackzampolin commented on #84
Maybe we should have the chains emit the `ibc-app-version` as a tag so that this could be done dynamically on a per packet basis

[2020-05-05 00:14] jackzampolin commented on #85
dupe of #34

[2020-05-05 00:14] #85 closed, assigned to nobody

[2020-05-05 00:15] jackzampolin commented on #34
and @cwgoes to answer your question there I've added order to the path config.

[2020-05-05 00:52] jackzampolin commented on #100
https://github.com/iqlusioninc/relayer/pull/221/commits/a89a705583ac9f3eea02ce7787f08be3df8a526e fixes this issue

[2020-05-05 00:53] #100 closed, assigned to nobody

[2020-05-05 00:57] jackzampolin commented on #103
We should retry in this case. A simple retry of the sends in `relayer/relayMsgs.go#Send` should do the trick in this case. We should see if there are other cases to handle here.

[2020-05-05 01:00] jackzampolin commented on #103
Another option would be to store the last seq number on the chain and update it with each tx sent and on relayer startup? This could be done in `func (src *Chain) BuildAndSignTx(datagram []sdk.Msg) ([]byte, error) {`

[2020-05-05 01:12] jackzampolin commented on #109
This should be done using the `github.com/cosmos/cosmos-sdk/client/tx#Factory`. May need a new method (`NewFactoryFromArgs`) in the SDK. This should facilitate a simulation pre send.

[2020-05-05 01:13] jackzampolin commented on #113
I think the first step here is adding the client type to the `Chain` struct and then using that.

[2020-05-05 01:14] jackzampolin commented on #118
This is addressed. Other options should be implemented as alternate strategies.

[2020-05-05 01:14] jackzampolin commented on #103
ref: https://github.com/iqlusioninc/relayer/issues/120

[2020-05-05 01:14] jackzampolin commented on #120
dupe of: https://github.com/iqlusioninc/relayer/issues/103

[2020-05-05 01:14] #120 closed, assigned to nobody

[2020-05-05 01:16] jackzampolin commented on #124
closed by #147

[2020-05-05 01:16] #124 closed, assigned to nobody

[2020-05-05 01:18] jackzampolin commented on #149
@cwgoes I am extremely averse to making any of these commands interactive and in fact have explicitly avoided doing so. This leads to a lot more complexity and makes scripting with the relayer hard. I think that when users run a command it should reasonably retry to push through most errors for things like failed queries.

[2020-05-05 01:21] jackzampolin commented on #164
I think that making this output data in a metrics format for ingest by something like prometheus, influx or datadog would be really really cool and something I plan to build into the relayer.

[2020-05-05 01:22] jackzampolin commented on #188
This is a very odd issue. Will look into it in detail soon.

[2020-05-05 01:23] #208 closed, assigned to nobody

[2020-05-05 01:24] jackzampolin commented on #213
This is correct, `ics20` transfer channels should not be able to be closed as per spec @cwgoes

[2020-05-05 01:27] jackzampolin commented on #216
Not running into this issue with the current version. Please reopen if you continue to see this.

[2020-05-05 01:27] #216 closed, assigned to nobody

[2020-05-05 07:35] cwgoes commented on #149
Fair enough!

[2020-05-05 07:35] cwgoes commented on #213
Correct, and there should be no need to close channels.

[2020-05-06 00:44] angelorc opened #226 "Unrelayed txs"
## Problem
I have unrelayed txs. When I try to run `rly tx rly <path>` I get
[code]
## Query full-path
[code]

[2020-05-06 03:56] asmodat commented on #111
If I try to send standard tx I get the "undefined" error
[code]
re-push also results in the same err
[code]

[2020-05-06 04:19] asmodat commented on #111
Same with debug:

[code]

[2020-05-06 04:24] asmodat commented on #111
And for the client update

[code]

[2020-05-06 17:35] kwunyeung opened #227 "Segmentation fault when query a newly created path"
[code]

[2020-05-06 19:57] #213 closed, assigned to nobody

[2020-05-06 20:33] asmodat opened #228 "Code 6 when executing raw update-client"
Steps to reproduce:
[code]

Output:
[code]

[2020-05-06 20:33] asmodat commented on #111
Related Issue: https://github.com/iqlusioninc/relayer/issues/228

[2020-05-06 21:47] asmodat commented on #228
I fixed it

[code]

[2020-05-06 21:47] #228 closed, assigned to nobody

[2020-05-06 21:47] asmodat commented on #111
I fixed it as follows:
[code]

[2020-05-06 21:48] asmodat commented on #111
I fixed it as follows:
[code]

[2020-05-07 21:12] anilcse opened #229 "Cannot use tokens from expired clients"
I got to see something strange today. I am not sure if this is a bug. Looks strange.

Scenario:
I have created a connection between `aneka` and `gameofzoneshub-1a` chians and did a few token transfers.
Later the connection got expired and I had to create a new client/connection ...

When I try to transfer tokens, it says, balance is zero. I am sure I have balance but the path is different.
![1a](h

[2020-05-07 23:21] jackzampolin commented on #229
cc @cwgoes @AdityaSripal @ancazamfir

[2020-05-08 00:48] randomshinichi opened #231 "rly tx raw update-client doesn't work when rly start is running"
While `rly start` is running:
[code]

when `rly start` is not running:
[code]

[2020-05-08 04:52] asmodat opened #233 "panic: runtime error when using rly pth add command"
It is currently not possible to add path from file

Steps to reproduce:

1. Initalize & save path to file
[code]

2. Re-initalize and add path from file

[code]

Result:

[code]

[2020-05-08 05:05] iammelea commented on #233
--file ~/some.config.file.yaml

No works?

[2020-05-08 05:14] asmodat commented on #233
No it does not, the add without --file works - with manual input, however with file input - which is the most useful it fails with above error.

I am trying to create a stateless rly so that I can run it on lambda (save path on s3 and drop the local state later) and this issue is important for me to be resolved.

[2020-05-08 05:17] asmodat commented on #233
Also please add an option to import json directly from the console input, rather than having to type every single value manually and confirm with enter.
It can be another way how this issue can be fixed

[2020-05-08 11:09] cwgoes commented on #229
A new channel will have a different token denomination; this is expected behaviour.

[2020-05-08 11:09] #229 closed, assigned to nobody

[2020-05-08 19:24] anilcse commented on #229
I havent checked this in time. Would be curious to understand, what happens to the tokens which stayed in an expired channel?
@cwgoes

[2020-05-08 19:35] cwgoes commented on #229
They are inaccessible, the channel will need to be manually recovered by governance (once supported).

[2020-05-08 19:50] anilcse commented on #229
Can I report this as a bug/missing feature or is it being tracked somewhere?

[2020-05-08 19:55] dtribble commented on #229
Shouldn't timeout of the packets in the dead channel result in return of the tokens in timed-out packets?

[2020-05-08 20:17] anilcse commented on #229
I think that is not possible as the channel is closed.

[2020-05-08 20:35] JokerTheBond opened #235 "Strange relayer behaviour cause clients to die"
Hi I want to report a strange behaviour that I noticed in my relayer this morning.
I'll start with saying that I was using a very simple and defensive approach in order to update my client: an update every 5 minutes with the command rly tx raw update-client.
The time of the following logs is UTC +2. Every log is a couple where: the first log is the result of the update-client command on my chain (

[2020-05-08 20:36] dtribble commented on #229
A closed channel should be specified to timeout all unacknowledged packets. That way there is a single pathway for recovery (esp. recovery of assets embedded in packets).

BUT in 5.2.3 of spec rc5:

So we will discuss whether we can do the fully-automated thing.

[2020-05-08 22:29] anilcse commented on #229
Hmm, I see a lot of UX issues with gov process around this. May be a contract would improve it a bit

[2020-05-11 18:20] asmodat opened #238 "rly pth show output incorrect due to IBC proto migration"
How to reproduce (rly version v0.5.0)

1. Establish Connection
[code]

2. Reproduce Problem
[code]

Expected any output whatsoever, and we get nothing despite --debug flag

The output of the first command sequence stores const,conn and chan in log files, those log files indicate successful connection while status claims there is no connection and no channel created

[code]

I do not understand why

[2020-05-11 18:24] asmodat commented on #238
If there is no Connection or Channel creation then rly tx should not be responding with exit code 0. That is incorrect behavior

What's worse it spits success in the first run - including standard output despite status showing something totally different after those commands are executed

If you retry - even with debug it spits nothing to std err and out, just passes with code 0

[2020-05-11 20:53] jackzampolin opened #239 "Create more documentation around scripts"
Currently there are a number of scripts in this repository to spin up local version of chains. They are underdocumented because their features have been changing for a while. A number of those scripts now have stable versions: `./scripts/two-chainz && ./scripts/config-relayer`, `./scripts-three-chainz && ./scripts/config-relayer` and `./four-chainz` (with 100x more docker) and `./nchainz` (a @mich

[2020-05-11 21:05] jackzampolin commented on #238
@asmodat Thank you for the bug report. A couple of items here:

1. If you would like to test IBC this repo contains a number of scripts for spinning up chains locally in a number of different configurations as well as config that is ready to go. I've just [opened an issue](https://github.com/iqlusioninc/relayer/issues/239) to document them and their usage better. When submitting issues, please rep

[2020-05-11 21:21] asmodat commented on #238
Via the PM all was explained to me precisely, the bug is actually with the Status query, not the tx, the node is actually connected.

The bug is that --debug using any of those:
[code]
should output "already connected" or something of the sort if they are retried, otherwise status not connected + no output from those commands above after re-try to establish the connection is confusing

[2020-05-11 21:28] jackzampolin commented on #238
closed by above commit

[2020-05-11 21:28] #238 closed, assigned to nobody

[2020-05-11 21:50] jackzampolin opened #240 "Break up large number of rly msgs into manageable transactions"
Currently when trying to relay unrelayed packets the relayer bundles all the msgs up into 1 large transaction. See https://github.com/iqlusioninc/relayer/blob/master/relayer/naive-strategy.go#L145 and https://github.com/iqlusioninc/relayer/blob/master/relayer/naive-strategy.go#L187. These should stop at a user configurable either tx size (2MB) or msg length (3-5), send the transaction, and begin a

[2020-05-11 21:58] jackzampolin commented on #235
This issue was likely caused by congestion on the hub RPC endpoint. The `broadcast_tx_commit` failure just leaves the transaction in the mempool so it would make sense that these txs were eventually included in blocks. The `ABCIQuery: Post failed` indicates a failed query to get headers for the local lite client. This was likely caused by RPC congestion. The local database contention issue is like

[2020-05-11 22:05] jackzampolin commented on #231
This is due to database contention on the local lite client database. I've been unable to completely eliminate this. Is this error constant or just intermittent?

[2020-05-11 22:06] jackzampolin commented on #233
This is because we added the `pathStatus` to the JSON export. This was a requested feature, but it broke import. What would be best? keep the path status on the export and ignore it on the import, or only leave the path status on the string output and omit it from the JSON output?

[2020-05-11 22:11] jackzampolin commented on #227
This looks like a version mismatch issue. Please check your versions and try to reproduce.

[2020-05-11 23:47] #227 closed, assigned to nobody

[2020-05-12 13:39] cwgoes commented on #240
2 MB >> 3-5 messages.

Can we query the chain to determine the limits on transaction size? Whatever can be put in a single multi-message transaction generally should be, unless there are concerns about race conditions.

[2020-05-12 18:34] colin-axner commented on #240
I can take on this issue

[2020-05-12 23:41] jackzampolin commented on #240
Thank you @colin-axner! That would be amazing and would really help users! Just check out this bug report I was just looking at:
[code]

[2020-05-12 23:42] jackzampolin commented on #240
Might also be possible to tackle this one as well while you are in that code: https://github.com/iqlusioninc/relayer/issues/109

[2020-05-13 00:40] colin-axner opened #241 "DRY relayer code"
From what I understand, the `relayer` package has standalone code so commands can run one off operations. There is also strategies that can  be run indefinitely. As more advanced strategies are developed, relayers can easily switch between them by changing their config file.

The naive strategy should become the default usage of the one off command line calls. I haven't fully verified this, but I

[2020-05-13 17:11] colin-axner opened #242 "remove codespace.go and replace with res.Log"
`codespace.go` currently has all the ibc errors and their messages. This will be very hard to maintain.

The funcs that use `GetCodespace` have a `sdk.TxReponse` which has both [parsed](https://github.com/cosmos/cosmos-sdk/blob/6d7fc911c28a8929ec09818f4d10a4b8295de3b6/types/result.go#L92) and raw logs. These logs when run in the SDK are created from calling [ABCIInfo](https://github.com/cosmos/cos

[2020-05-13 21:03] colin-axner opened #244 "docs: testing file incomplete"
The end of `relayer/testing.md` abruptly cuts off with `3. Get the` not sure what is left to be added but it should be fixed

[2020-05-14 11:19] tac0turtle opened #247 "go releaser"
what builds are wanted for releases.

Would a docker hub deployment be needed?
Brew install?

This is currently how i have it setup. https://github.com/marbar3778/relayer/releases/tag/v0.0.2

[2020-05-15 16:16] #241 closed, assigned to nobody

[2020-05-15 16:21] jackzampolin opened #250 "Update ID generation to take into account ICS24 changes"
See PR: https://github.com/cosmos/cosmos-sdk/pull/6227

[2020-05-15 16:39] #242 closed, assigned to nobody

[2020-05-17 18:11] cyborgshead opened #252 "Panic on goz-dump"
Tried to get hub connection with rly (v0.5.2)
```rly development goz-dump gameofzoneshub-1b```
and took panic
```panic: interface conversion: exported.ClientState is types.ClientState, not types.ClientState (types from different packages)```

[2020-05-17 22:31] jackzampolin commented on #252
@litvintech This is because the `rly dev goz-dump` command is only compatible with `gameofzoneshub-1a` and not yet `-1b`. See PR https://github.com/iqlusioninc/relayer/pull/237

[2020-05-19 14:03] leopoldjoy opened #254 "Only able to reestablish connection with the hub when both client-ids are changed"
If a connection with the hub expires (because the other chain's client expires, but the hub client is **not** expired), the path is deleted (and lite clients deleted, etc.) and `rly pth gen` is then run to generate a new path (specifically without the `-f` flag included), one new client-id will be generated for the secoundary chain (assuming the chain-id has also **not** changed) and the old (but

[2020-05-19 14:57] jackzampolin commented on #254
@leopoldjoy thank you for the report. Can you share what error you are getting when trying to establish a new connection? At what point does the `rly tx link` fail? Please include `-d` output in a gist.

[2020-05-19 15:20] leopoldjoy commented on #254
@jackzampolin Here's the full output when calling `rly tx link` (with debug enabled) from the scenario described above:

[code]

[2020-05-19 17:32] cwgoes commented on #34
@jackzampolin Is anyone already working on this? Otherwise IG can pick this up.

[2020-05-20 01:50] jackzampolin commented on #34
I had someone reach out over TG and say that they were working on it, but I would appreciate a hand with this one. 🙏 Thanks @cwgoes

[2020-05-20 17:13] jsimnz commented on #34
I've  been taking a crack at implementing Unordered channels for my GoZ phase 2 approach.

Listening for events over the websocket works fine for Unordered channels (ie: `relayPacketsFromEventListener`) but the issue at hand is trying to determine the unrelayed sequences, since
A) There is no strict ordering, so one can't just compare dst.recv - src.send sequences.
B) The IBC Channel module doesn'

[2020-05-20 19:43] jsimnz commented on #34
#259 possible approach

[2020-05-21 16:56] #254 closed, assigned to nobody

[2020-05-21 16:57] #109 closed, assigned to nobody

[2020-05-21 22:47] jackzampolin opened #262 "Refactor Strategy Code"
The `Strategy` type is currently a required field on `Path`. We should remove the `Strategy` type from `Path` and move it a switch statement that is triggered in the cli via a command line flag.

[2020-05-21 22:50] #240 closed, assigned to colin-axner

[2020-05-21 23:44] jackzampolin commented on #252
I think this is closed by #257

[2020-05-21 23:44] #252 closed, assigned to nobody

[2020-05-21 23:55] jackzampolin commented on #247
Docker and brew would be optional but nice to have. Like that a lot. I think this is going to require me to have a changelog strategy right?

[2020-05-21 23:56] jackzampolin commented on #226
I've been unable to reproduce this issue and we just cut a new release. I'm going to close this issue as likely solved.

[2020-05-21 23:56] #226 closed, assigned to nobody

[2020-05-21 23:57] jackzampolin commented on #215
I think this is due to the max denom length. cc @cwgoes

[2020-05-22 00:27] jackzampolin opened #263 "Metrics for Relayer"
Ideally when running `rly start` the relayer should expose a [Prometheus metrics server](https://godoc.org/github.com/prometheus/client_golang/prometheus) which exposes metrics about the operations. This should include:

* Counter of messages by type
* Counter of gas used
* Counter of fees paid by denom/address

This issue is also a place for other ideas for metrics. Please add them as comments!

[2020-05-22 02:14] wangfeiping commented on #263
I think client update time is also important so that relayer operators can customize alarms.
for example:
client_update_status{chain_id="dawnsworld-1b",time="2020-05-21T07:04:29.507285347Z"}  100
Value represents client duration (seconds).

[2020-05-22 10:16] cwgoes commented on #215
Yes, at present there is a hard limit. It can be extended, but not indefinitely.

The relevant code is at https://github.com/cosmos/cosmos-sdk/blob/master/types/coin.go#L583.

[2020-05-25 15:57] gruberx opened #267 "while the rly start is running, an panic: runtime error"
When gameofzoneshub-2a started, after 45 minutes, rly start often crashed with a panic: runtime error: invalid memory address or nil pointer dereference error.
I noticed two types of errors:
[code]

[code]

[2020-05-30 16:44] jaygaga opened #268 "unrelayed transactions?"
Why do transactions not get relayed given that there is a stable connection with active clients and enough funds to pay for transactions, so why do they fail sometimes?

rly q unrelayed mentomin
{"src":["1932","1933","1934","1935","1936","1937","1938","1939","1940","1941","1942","1943","1944","1945","1946","1947","1948","1949","1950","1951","1952","1953","1954","1955","1956","1957","1958","1959","

[2020-06-01 18:06] colin-axner opened #270 "Support relaying acknowledgements"
The `transfer` cmd does not relay acknowledgements. This can become mildly troublesome when acknowledgements fail on the destination chain. The functionality should be added or add a print statement saying the ack needs to be relayed. A flag for adding this functionality could be useful.

See [here](https://github.com/cosmos/cosmos-sdk/issues/6309#issuecomment-637018394) for original discussion

[2020-06-13 18:42] zmanian opened #272 "Upstream improvements from Sentinel's GOZ improvements"
https://github.com/ironman0x7b2/goz-relayer/tree/modified

[2020-07-06 11:24] colin-axner commented on #263
reference on how SDK recently added metrics: https://github.com/cosmos/cosmos-sdk/pull/6449

[2020-07-14 09:44] colin-axner opened #275 "Add examples to cmds"
Each command should use the cobra `Example` field

[2020-07-14 13:40] colin-axner opened #276 "Fix race conditions"
There exist race conditions when running the tests, these should be addressed

[2020-07-14 13:45] colin-axner commented on #276
`-race` should be added to each test in the `Makefile`

[2020-08-29 16:32] jackzampolin opened #280 "Audit and refactor all the `rly path` commands"
- [ ] `list` - currently the status on the list is broken
- [ ] `show` - currently the status is broken
- [ ] `add` - Validation issues around version and ordering
- [ ] `generate` - Broken in a number of places, especially looking at existing primitives on chain.
- [x] `delete`

[2020-09-14 22:27] jackzampolin opened #281 "Meta Issue: IBC 1.0 Readiness"
- [x] `config` - CRUD for all resources
- [x] `chains` - CRUD for all resources
- [x] `paths` - CRUD for all resources
- [x] `keys` - CRUD for all resources
- [x] `light` - CRUD for all resources
- [x] `tx`
    - [x] `link`
    - [x] `relay` - this command may need some rethink wrt acks, not fully working
    - [x] `transfer`
    - [x] `clients` - working client creation and update
    - [x] `upda

[2020-09-17 07:24] tac0turtle opened #282 "scripts assume archaic GOPATH is set"
Scripts assume `GOPATH` is set. It would be nice to have it not assume this as it is not standard any longer.

Also, the link (https://golang.org/doc/install) to download go does not provide instructions for setting GOPATH anymore.

scripts should just clone gaia into the repo and then remove it before shutting down

[2020-09-23 22:33] andynog opened #283 "Cannot start two-chainz on a Ubuntu machine"
I get several errors when running the script. Looks like some related to commands that cannot run on Linux (e.g. sed) the way outlined. Also looks like some errors due to nonexistent folders and some race conditions on gaiad commands.

I'm using the **stargate-3** tag for the relayer.

**Environment**:
Distributor ID:	Ubuntu
Description:	Ubuntu 20.04.1 LTS
Release:	20.04
Codename:	focal

[2020-10-08 18:10] jonathan2004 opened #286 "when executing bin/rly testnets request ..., error : gasUsed: 1000: out of gas\n #65"
/> bin/rly testnets request chain_1 faucet -u http://127.0.0.1:8000 --home data/relayer
{"error":"transaction failed to execute\nResponse:\n TxHash: DD779702E8CC32B8547C13C7CC229D2A7E254D24E348F4A4CFAE244D9596512D\n Code: 11\n Raw Log: out of gas in location: ReadFlat; gasWanted: 0, gasUsed: 1000: out of gas\n GasUsed: 1000\n Codespace: sdk"}

why and how to resolve above question?

/> bin/gaiad v

[2020-10-09 14:01] Enflow-io opened #121 "Error when linking chains"
when `rly tx link demo`
I got error:
[code]

How to debug it or fix it?

[2020-10-13 23:05] jackzampolin opened #288 "How to display IBC denominations?"
There is currently some debate about how to display the IBC denominations. One option is to display the channel/port/denom data. This is confusing to end users. [CAIPs](https://github.com/ChainAgnostic/CAIPs) have been developed by the IOV team to address this exact problem. I also know @michaelfig and the Agoric team have opinions here. I tried disambiguating the denom to a style similar to CAIPs

[2020-10-14 03:33] michaelfig commented on #288
Not sure what I think, but @warner and @dtribble may weigh in.

[2020-10-14 09:38] colin-axner commented on #288
If I am a user interacting with an asset I have a few initial questions:
* What chain is this from and what is the name of the asset?
* Is this a native asset or has this asset traveled across the universe via IBC?
* Is this asset "certified" by the service I am using?

In my ideal interaction (let's say exchanges who fulfill the IBC competency matrix) when displayed an asset it looks something li

[2020-10-16 18:35] jackzampolin commented on #188
Closing as the code has changed substantially. I also believe that this issue is fixed.

[2020-10-16 18:35] #188 closed, assigned to nobody

[2020-10-16 18:35] jackzampolin commented on #190
Closing as this has likely been fixed in the interm

[2020-10-16 18:35] #190 closed, assigned to nobody

[2020-10-16 18:35] jackzampolin commented on #215
We have fixed this in the SDK with IBC denoms.

[2020-10-16 18:35] #215 closed, assigned to nobody

[2020-10-16 18:36] jackzampolin commented on #231
This issue is no longer present.

[2020-10-16 18:36] #231 closed, assigned to nobody

[2020-10-16 18:36] jackzampolin commented on #233
Need to rework all this path stuff... closing and putting up a meta issue around the needed path work.

[2020-10-16 18:36] #233 closed, assigned to nobody

[2020-10-16 18:36] #235 closed, assigned to nobody

[2020-10-16 18:36] #239 closed, assigned to nobody

[2020-10-16 18:37] jackzampolin commented on #247
Still need to do this. Akash does something slightly different than goreleaser, but need some automation here to help me out.

[2020-10-16 18:38] #250 closed, assigned to nobody

[2020-10-16 18:38] jackzampolin commented on #262
Refactor the strategy code to take into account the events refactor.

[2020-10-16 18:39] jackzampolin commented on #267
This code has been substantially refactored. Closing this issue as non-actionable. Please reopen if you can repro with existing code.

[2020-10-16 18:39] #267 closed, assigned to nobody

[2020-10-16 18:40] jackzampolin commented on #268
Closing as non-actionable. Also code has been changed significantly. There is also no error message here for the failed relay transactions.

[2020-10-16 18:40] #268 closed, assigned to nobody

[2020-10-16 18:41] jackzampolin commented on #270
Renaming this issue to note that acks are not currently supported in the relayer.

[2020-10-16 18:41] jackzampolin commented on #272
Have upstreamed a couple of these. Closing this issue.

[2020-10-16 18:41] #272 closed, assigned to nobody

[2020-10-16 18:41] jackzampolin commented on #275
This is a great first issue!

[2020-10-16 18:42] jackzampolin commented on #276
Looks like this has been addressed.

[2020-10-16 18:45] jackzampolin commented on #281
Closing this issue and moving to specific issues and the `1.0` tag for tracking work.

[2020-10-16 18:45] #281 closed, assigned to nobody

[2020-10-16 18:46] jackzampolin commented on #283
@andynog thanks for the improvements and changes to the scripts! I'm going to close this as your PR addresses the issue you were facing.

[2020-10-16 18:46] #283 closed, assigned to nobody

[2020-10-16 18:46] jackzampolin commented on #286
Have fixed this issue in upstream. Need to increase the gas adjustment in the chain config if you continue to run into the issue.

[2020-10-16 18:47] #286 closed, assigned to nobody

[2020-10-16 18:48] jackzampolin commented on #6
Closing this issue as addressed! 🎉

[2020-10-16 18:48] #6 closed, assigned to nobody

[2020-10-16 18:49] jackzampolin commented on #26
Closing in favor of new issue about path command.

[2020-10-16 18:49] #26 closed, assigned to jackzampolin

[2020-10-16 18:49] jackzampolin commented on #32
This has been fixed by fetching the chain params for client creation. closing

[2020-10-16 18:49] #32 closed, assigned to nobody

[2020-10-16 18:50] #34 closed, assigned to colin-axner

[2020-10-16 18:52] #68 closed, assigned to jackzampolin

[2020-10-16 18:52] #69 closed, assigned to nobody

[2020-10-16 18:53] #93 closed, assigned to nobody

[2020-10-16 18:54] jackzampolin commented on #113
Relayer now supports multiple types of light clients (solochain, localhost, tendermint)

[2020-10-16 18:54] #113 closed, assigned to nobody

[2020-10-16 18:54] #118 closed, assigned to nobody

[2020-10-16 18:55] jackzampolin commented on #135
I've refactored the relayer and we now utilize `CLIContext` and other SDK code that was previously in relayer only. Closing as not actionable.

[2020-10-16 18:55] #135 closed, assigned to nobody

[2020-10-16 18:56] jackzampolin commented on #149
Closing this issue as we have added retries in a number of places.

[2020-10-16 18:56] #149 closed, assigned to nobody

[2020-10-16 18:57] jackzampolin commented on #280
Also see https://github.com/ovrclk/relayer/issues/162

[2020-10-16 18:57] jackzampolin commented on #164
This is currently implemented in `rly dev listen`, additional improvements to this code will be implemented there.

[2020-10-16 18:57] #164 closed, assigned to nobody

[2020-10-19 08:47] colin-axner commented on #276
Unfortunately, this has not been fixed. If you add `-race` to the make file target `test-gaia` you'll get:
[code]

There is a lot more outputted as well

[2020-10-20 10:02] AdityaSripal commented on #164
The command we have now is `rly dev listen` looks like a good start! Could we get it to print from all chains as a starting default along with the metadata information @cwgoes mentioned above?

I think when used as a default, this would most likely be piped into some other metric processing framework. However, to be usable barebones it would be also nice to have certain filters on the logs passed

[2020-10-20 14:43] colin-axner opened #291 "Add a short guide on adding custom configs for chains"
I couldn't find any documentation for creating a json file to add a chain. I think it'd be useful to have a very short guide that shows the json format and explains the meaning of each part in the json data.

I figured out how to do this looking at the existing config files, but having it explained in words would be nice

[2020-10-20 15:06] colin-axner opened #292 "Add argument number check to rly cfg add-dir"
[code]

[2020-10-20 15:09] colin-axner opened #293 "rly cfg add-dir should handle dir arguments that don't end with a forward slash"
[code]

[2020-10-20 15:27] colin-axner opened #294 "add flag to rly keys list to show all keys"
Currently `rly keys list` requires a chainID as an argument. It'd be nice to be able to list out all the keys added. My preference would be to always list all the keys by default and have `--chain-id` be a optional flag to filter by chain-id (possibly more than 1?)

[2020-10-20 16:19] colin-axner opened #296 "Update or remove config files"
Some of the config files under config/ are outdated. Specifically they are missing the channel type and version. They should be updated or removed.

Example working json blob:
[code]

[2020-10-20 16:31] colin-axner opened #297 "panic on trying to connect with "unset" keys"
[code]

I think an error could be returned in place of the panic. Also, how do I add they key? I have funds and the rly can list my key so I'm confused why it isn't connected with the chain

[2020-10-21 10:02] colin-axner opened #298 "Keyring needs to support non-test keys to be used in production"
Currently the Keybase is created using a [test backend](https://github.com/ovrclk/relayer/blob/06740742e8e88baaff21efa5633c81a170d5ea24/relayer/chain.go#L138) this means no password is used to retrieve and use the keys. This is very useful for testing but this relayer is expected to be used in production. Therefore it needs to support other backend options like [OS](https://github.com/cosmos/cosmo

[2020-10-21 10:15] colin-axner opened #299 "rly chains edit + rly chains list needs more documentation"
It took me a while to figure out why my key wasn't connected to my chain. This is because I initialized the chain before adding a key for the chain. The key can then only be added via command line by calling `rly chains edit <chain-id> key <keyname>`.

We should add documentation for this in the cli. I think adding documentation in `rly chains list` explaining why one of the check marks might be m

[2020-10-21 10:44] colin-axner opened #300 "Relayer is not properly getting the lastest app state when executing handshake steps"
[code]

When executing the connection handshake, the first attempt at INIT on the source chain succeeds as show above by the first set of steps:
[code]

The first iteration of the for loop ends [here](https://github.com/ovrclk/relayer/blob/06740742e8e88baaff21efa5633c81a170d5ea24/relayer/connection-tx.go#L55)

Using the debug logs we can deduce that the second iteration of the for loop is executed

[2020-10-21 11:19] colin-axner opened #301 "Relayer needs to support parsing version number from chain-id"
The relayer currently hardcodes the version number to 0. This works fine for testing purposes but many testnets are, from the IBC perspective, on a non-zero version number. `stargate-4` has a height with a version number of 4. This causes the query for the [consensus state](https://github.com/ovrclk/relayer/blob/06740742e8e88baaff21efa5633c81a170d5ea24/relayer/query.go#L90) to fail for non zero ve

[2020-10-21 12:28] cwgoes commented on #300
The relayer ought to wait for the transaction to be confirmed before it moves on with the handshake.

Is this not happening somehow? Or are the height offsets wrong?

[2020-10-21 12:58] #301 closed, assigned to AdityaSripal

[2020-10-21 15:17] colin-axner commented on #300
Did some digging on this. The relayer waits for the transaction to be committed, but queries from the header - 1 height causing the connection not to be updated at this height. Removing all the `-1`s leads to new issues.

I'm not sure if this is also true, but it is possible that txs committed at height h will not be in effect until queries at height h + 1 meaning the relayer would need to wait fo

[2020-10-21 15:44] AdityaSripal commented on #300
This issue exists for the entire handshake process:

[code]

Simply rerunning the command over and over again allows the handshake to progress

[2020-10-22 10:07] colin-axner opened #312 "Relayer should return an error if a channel already exists but belongs to a different connection"
I created several connections with the same channel in the config. After the first connection was created, calling `rly tx link` on the others would result in the channel handshake steps being skipped, this is because the channel already exists, but it just has a different connection than the ones being created

[2020-10-22 12:32] colin-axner opened #313 "Relayer hangs on trying to send to a channel that isn't associated with the set connection"
Config:
[code]

[code]

Note that the connection_hops does not match the connection.

This cmd hangs:
[code]

[2020-10-22 12:37] colin-axner commented on #313
This also hangs on freshly created connection/channels, just tested

[2020-10-22 15:00] colin-axner opened #315 "relayer is incorrectly determining timeouts"
The relayer should be using the block timestamp not the [local time](https://github.com/ovrclk/relayer/blob/470850f84d3eaad6ddfa35366d09644713613ef0/relayer/naive-strategy.go#L476)

[2020-10-22 15:54] colin-axner opened #317 "Relaying Timeout doesn't work"
The relayer is querying the wrong chain for the packet commitment [here](https://github.com/ovrclk/relayer/blob/470850f84d3eaad6ddfa35366d09644713613ef0/relayer/relayPackets.go#L47). Changing just this line doesn't work though, it uses the wrong channel id as well. I think upstream the chains need to flipped somewhere

[2020-10-23 10:45] colin-axner commented on #313
fixed in #314

[2020-10-23 10:45] #313 closed, assigned to nobody

[2020-10-27 01:29] jackzampolin commented on #270
The relayer currently tries to relay acks, and this is the error. See https://github.com/ovrclk/relayer/pull/318/

[code]

[2020-10-27 15:21] jackzampolin commented on #292
Addressed in
https://github.com/cosmos/relayer/pull/318

[2020-10-27 15:21] #292 closed, assigned to nobody

[2020-10-27 15:27] jackzampolin commented on #293
added `dir = path.Clean(dir)` that fixes this issue and makes the behavior more standard

[2020-10-27 15:28] #293 closed, assigned to nobody

[2020-10-27 15:29] jackzampolin commented on #294
@colin-axner I don't necessarily agree this is desirable. The keys are stored on disk on a per chain basis and this is pretty baked in. I think keeping it the way it is is preferable.

[2020-10-27 15:36] jackzampolin commented on #297
@colin-axner the key that will be used by default needs to be set in the `Chain` config. Will modify this to not panic however

[2020-10-27 15:38] jackzampolin commented on #298
@colin-axner the problem with that is there is no other non-interactive way to support signing. If users would like to this in production we suggest they keep limited funds in the relayer and keep the process in a secure environment.

[2020-10-27 15:38] #298 closed, assigned to nobody

[2020-10-27 15:39] jackzampolin commented on #300
Pretty sure now that the locks are fixed this issue is no longer present.

[2020-10-27 15:40] jackzampolin commented on #312
@colin-axner how would you check for this?

[2020-10-27 16:00] colin-axner commented on #294
Sounds reasonable to me

[2020-10-27 16:00] #294 closed, assigned to nobody

[2020-10-27 16:39] colin-axner commented on #312
Before executing, create connection and create channel, the channel should be queried using the gRPC routes. If it exists the connectionHops[0] needs to equal the connection that would have been created

[2020-10-27 19:15] jackzampolin commented on #315
Closing this as addressed.

[2020-10-27 19:15] #315 closed, assigned to nobody

[2020-10-27 19:22] jackzampolin commented on #297
Closing as addressed by defensive checks added in `cmd`

[2020-10-27 19:22] #297 closed, assigned to nobody

[2020-10-28 11:11] #296 closed, assigned to nobody

[2020-10-29 19:15] Thunnini opened #320 "Invalid order of the validator set"
I was trying to connect the HackATOM Hub (stargate-4) with our chain through the relayer (a version of stargate-4).
However, when I tried to update the client an error occurred here.
[code]
When I looked around this error, I found that the actual order of the validator set in the header from the node is invalid.
The expected order of the validator set is
https://rpc.gaiasg4.hub.hackatom.dev/valida

[2020-10-30 16:10] jackzampolin commented on #320
This issue is getting fixed upstream in the SDK and a number of fixes have come in around this area. Is working on https://github.com/cosmos/relayer/pull/318

[2020-11-04 18:49] AdityaSripal opened #321 "Timeouts on ORDERED Channels shouldn't work"
Must VerifyNextSequenceRecv instead of packet receipts for ORDERED channels

[2020-11-05 18:28] jackzampolin commented on #320
closing this as addressed.

[2020-11-05 18:28] #320 closed, assigned to nobody

[2020-11-05 18:28] jackzampolin commented on #288
closing this in favor of other discussions elsewhere.

[2020-11-05 18:28] #288 closed, assigned to nobody

[2020-11-05 18:32] jackzampolin commented on #282
You are calling my beloved `GOPATH` archaic!! How dare you!

But for real, cloning them into a `.gitignore`d folder that has something like `make chain-code-fetch` and `make chain-code-delete` to dl them would be good change.

[2020-11-05 20:10] jackzampolin commented on #282
Ok I've gone ahead and fixed this issue with the solution described and done a minor refactor of the scripts to make them more extensible.

[2020-11-05 20:13] #282 closed, assigned to nobody

[2020-11-06 11:50] tac0turtle commented on #282
oops ❤️

[2020-11-09 15:45] jackzampolin commented on #112
This is blocked on https://github.com/cosmos/relayer/pull/324

[2020-11-09 15:46] jackzampolin commented on #270
I've gotten acks working 🎉 going to close this issue.

[2020-11-09 15:46] #270 closed, assigned to AdityaSripal

[2020-11-11 14:41] cryptophonic opened #326 "Incorrect account address lengths"
### Description:

Cannot set up a link between two Stargate chains due to address lengths being too long.  I have not been able to resolve this behavior on any of the branches tested.  Relayer fails to create a link.

[code]

Address lengths are incorrect, cutting and pasting from the above:

[code]

Packet sniffing the RPC queries going out on the wire shows the relayer issuing incorrect lengths

[2020-11-12 16:21] cryptophonic commented on #326
The same error is happening following the "two-chainz" instructions on the master branch (commit 3080dab10e37e6db9e691c343b1c0cdb6d845753):

[code]

[2020-11-15 10:37] jonathan2004 opened #327 "consensus state not found: invalid request"
/> rly  tx relay  left_right
E[2020-11-15|18:33:26.134] - [left] -> err(failed to execute message; message index: 1: timeout packet verification failed: failed packet receipt absence verification for client (leftleft1client): could not verify absence of key receipts/ports/transfer/channels/leftright1xfer/receipts/10: invalid proof: invalid request)
E[2020-11-15|18:33:26.137] - [right] -> err(faile

[2020-11-15 23:31] cryptophonic commented on #326
rly commit 031ecc2e304af39c789acd0f1b84033d3b8ef4d2 seems to fix the two-chainz flow.  testing the original bug report, will close it if it's working now

[2020-11-15 23:51] cryptophonic commented on #326
This appears to be related to an old branch we were using.  Closing.

[2020-11-15 23:51] #326 closed, assigned to nobody

[2020-11-17 04:28] jonathan2004 commented on #327
/>rly  tx  rly left_right
E[2020-11-17|12:26:01.923] - [left] -> err(failed to execute message; message index: 1: timeout packet verification failed: failed packet receipt absence verification for client (leftleft1client): could not verify absence of key receipts/ports/transfer/channels/rightright1xfer/receipts/10: invalid proof: invalid request)
E[2020-11-17|12:26:01.926] - [left] -> err(failed t

[2020-11-18 12:41] himankgupta31 opened #328 "How to Install IBC in external Blockchains (Ethereum, Hyperledger Fabric)"
Dear Community,

I am currently doing hands-on with Relayer. I can able to transfer tokens across two cosmos based Blockchain (using Gaia) successfully.

I want to extend the above experiment further to the non-COSMOS based Blockchain, i.e. Ethereum, Hyperkedger-Fabric, IOTA, etc.
As a starting point, I want to transfer ethers across two Ethereum private chains.
Is it possible to realize above use

[2020-11-24 15:55] colin-axner commented on #328
Hello @himankgupta31 :wave:

Any blockchain which wants to use IBC needs to be capable of speaking IBC. This would require Ethereum or whichever blockchain to present some way of accepting IBC transactions. I am not aware of any non-cosmos blockchain which currently supports this since the cosmos SDK's golang module should be the first implementation of IBC. Any cosmos blockchain which upgrades to

[2020-11-24 16:00] colin-axner opened #329 "Refactor connection/channel identifier handling"
[address significant changes](https://github.com/cosmos/cosmos-sdk/pull/7993)

I will handle this since the changes are non-trivial

[2020-11-24 16:06] himankgupta31 commented on #328
Hello Colin

Thanks for your reply.

I agreed with you that other BCs should understand IBC.
I intend to have IBC as TCP/IP protocol which can be installed on any BC. SO far I can see IBC code as a relayer only, and through Gaia, COSMOS-based BC can communicate.

Ethereum is also on golang platform, so my idea is to start deploying IBC relayer code on two Ethereum private chain and establish a com

[2020-11-24 16:43] colin-axner commented on #328
The relayer is only capable of relaying IBC messages, specifically just IBC messages based on the golang cosmos IBC implementation. The actual golang IBC implementation is [here](https://github.com/cosmos/cosmos-sdk/tree/master/x/ibc). It is made to be modular such that parts can be reused but certain parts are cosmos and even Tendermint specific so it cannot be easily plugged into a new blockchai

[2020-11-25 09:09] himankgupta31 commented on #328
Hello

My objective is to reuse the IBC module in Ethereum Private chains. I am struggling to bypass the Tendermint logic from the original IBC.

I have explored the peg-zone-based solution (Peggy) but it creates many dependencies to establish communication with external Blockchain. So, I am more inclined towards an IBC based solution for external blcockchains.

[2020-11-25 10:16] colin-axner commented on #328
Sorry that I'm being so indirect.

I don't think this is possible at the moment, without adding in a non-trivial amount of code (like a projects worth). The IBC module also makes the assumption the consensus algorithm is tendermint (unfortunately) so this requires basically a rewriting of several parts of core IBC in the context of ethereum code.

Using Ethermint would be your best option, but I d

[2020-11-25 10:16] colin-axner commented on #328
closing this issue since it is not dev related, but I'll still respond to further comments on here

[2020-11-25 10:16] #328 closed, assigned to nobody

[2020-11-25 12:38] colin-axner commented on #329
@AdityaSripal and I discussed a potential architecture refactor. The scope of the following relates only to the client/connection/channel stack starting from a config and state based relaying and ending once the config is full and the client is created, the connections are open and the channels are open.

We can envision the relayer stack having two core components, client and the core relayer. Fr

[2020-11-25 13:26] AdityaSripal commented on #329
Thanks for the write-up @colin-axner . Note channel ORDER and port IDS must **always** be specified by user.

If a user does specify a `connection/channel` ID, these must be IDs that were already generated by the respective chains. So we must check that these IDs not only exist, but they are also consistent with the rest of the config.
If a user specifies connection IDs, we must check that connect

[2020-11-25 17:10] jackzampolin commented on #329
One thing I'm thinking now is that we don't expose users to `client`, `connection` or `channel` identifiers at all and the `Path` struct could look like the following now:

[code]

[2020-11-26 21:31] odeke-em opened #331 "relayer/cmd.filesAdd: seemingly missing continue or wrong message talking about skipping, yet falling through"
While reading through this code, I noticed this code https://github.com/cosmos/relayer/blob/031ecc2e304af39c789acd0f1b84033d3b8ef4d2/cmd/chains.go#L310-L318

The last line says https://github.com/cosmos/relayer/blob/031ecc2e304af39c789acd0f1b84033d3b8ef4d2/cmd/chains.go#L316
but then falls through and adds file to the chain. Was this intended?

Kindly cc-ing @jackzampolin

[2020-11-26 22:07] odeke-em opened #332 "relayer/cmd.cfgFilesAdd: missing continue after encountering an error"
In this code https://github.com/cosmos/relayer/blob/031ecc2e304af39c789acd0f1b84033d3b8ef4d2/cmd/config.go#L192-L197 a JSON Unmarshal error occurred and the message even says skipping but it didn’t skip. We need to add a continue here. This code is similar to https://github.com/cosmos/relayer/issues/331

[2020-11-27 14:43] jackzampolin commented on #331
Thanks for catching this @odeke-em, there are def some issues like this in the code. Thanks for the catch!

[2020-12-07 03:56] michaelfig opened #335 "new header has a time from the future"
I am using relayer v1.0.0-rc1.  I am trying to test transfer between Gaia (ibc0) and the Agoric chain (ibc1), both running cosmos-sdk v0.40.0-rc3.

I can establish the unordered channel between the chains, but then the ibc1 light client starts failing.  Trying with gaia-gaia works as expected, but agoric-agoric fails the same way.

[code]

After the channel is created, I run `rly start -d zero`, w

[2020-12-07 10:55] colin-axner commented on #299
[code]

[2020-12-07 18:39] AdityaSripal commented on #335
Hmm so it looks like you're always getting the `new header has a time from the future error`? This just means that the header you received has a blocktime that is ahead of your local time.

Simply resending the transaction after some retry delay period should work, since the header time will now be in the past.

Looking at the log of the `relayer start` output, I'm not sure if each tx is trying to

[2020-12-07 18:49] michaelfig commented on #335
When I updated them both to be `"1000"` then things worked again.

[2020-12-07 20:04] #335 closed, assigned to nobody

[2020-12-14 09:25] akhilkumarpilli commented on #280
@jackzampolin, `status` on the list is broking because we are querying client state with latest height [here](https://github.com/cosmos/relayer/blob/031ecc2e304af39c789acd0f1b84033d3b8ef4d2/relayer/path.go#L244). We are getting error: `proof is unexpectedly empty; ensure height has not been pruned: invalid request` sometimes because client data is not yet stored with latest height. We can fix this

[2020-12-14 17:23] himankgupta31 opened #338 "Understanding Verifying process for cross-chain Transaction."
Hello @colin-axner

I want to know the process of validation in Cross-Chain Transaction.

I have development scenario in our local Machine as follows:

COSMOS-Chian-A (COSMOS-SDK: Stargate Commit) <-> Relayer <-> COSMOS-Chian-B (COSMOS-SDK: Stargate Commit).

According to my current understanding, IBC generate light client on cross chain. E.g., For chain A, IBC generate light client at Chain B. Bu

[2020-12-15 10:11] colin-axner commented on #338
Howdy! @himankgupta31

Each chain will need to create an on-chain light client which processes proofs of the counterparty chain it wants to connect to. To make things easier on the relayer, an off-chain light client is also created to track the counterparty chains.

IBC doesn't necessarily use merkle proofs. The IBC tendermint light client does use merkle proofs because that is how tendermint has

[2020-12-15 10:11] #338 closed, assigned to nobody

[2020-12-15 12:39] himankgupta31 commented on #338
@colin-axner Thank you very much for great explanation.

I tried to post on discord but I did not get any satisfactory answer as I get here. So I just mention you in the post as I am assuming that you are having end-to-end clarification on IBC.

Once again thank you very much for your help.

[2020-12-16 16:13] colin-axner opened #339 "add height flag for upgrading clients"
We should have a flag for `rly tx upgrade-clients --height` that the upgrade was performed at

[2020-12-18 14:57] colin-axner opened #341 "timeout flags should allow both height and time offset to be set"
[code]

It is valid to set both time and height timeouts

ditto
[code]

[2020-12-19 19:29] odeke-em opened #343 "licensing: is this code licensed to Cosmos Authors or to Jack and if so clarity"
This isn’t my domain of work, but I noticed that this code bears a license with ownership
https://github.com/cosmos/relayer/blob/031ecc2e304af39c789acd0f1b84033d3b8ef4d2/main.go#L2

Which begs the question of ownership and copyright. Did the licensing change when this code was added/moved here or is it donated to the Cosmos ecosystem with the condition that the license stays as is? A clarification

[2020-12-22 05:40] anilcse commented on #343
cc @jackzampolin

[2020-12-22 10:39] akhilkumarpilli commented on #176
Is this issue not fixed yet? Is [this code](https://github.com/cosmos/relayer/blob/master/cmd/light.go#L84) not relevant to this issue?

[2021-01-04 11:13] #275 closed, assigned to nobody

[2021-01-05 12:04] #329 closed, assigned to AdityaSripal, colin-axner

[2021-01-05 12:07] colin-axner opened #345 "Implement bottom up path validation"
The current code does little path validation since the required identifiers recently changed in #334

This should be implemented as @AdityaSripal specifies in this [comment](https://github.com/cosmos/relayer/issues/329#issuecomment-733705336)

[2021-01-05 12:09] colin-axner opened #346 "CLI command should support flag for amount of retries"
in `cmd/tx.go`. The constant `3` should be replaced with a param supplied by a flag which indicates the number of retries for a relay transaction.

See places in code marked with
[code]

[2021-01-05 12:11] colin-axner opened #347 "Upgrade should support more than just changing unbonding period"
Unbonding period is passed as a argument for testing purposes. This command should be rewritten to be supplied a file with the new client state arguments. See `cmd/tx.go#upgradeChainCmd`

[2021-01-05 12:13] colin-axner opened #348 "Add named returns"
see [comment](https://github.com/cosmos/relayer/pull/334/files#r535767142)

[2021-01-05 12:18] colin-axner opened #349 "Support client, connection, and channel recycling"
in client, connection, and channel creating in places marked with
[code]
We should query for existing clients, connections, and channels with the parameters specified in the config. If they exist, we should use those client, connection, and channels since they are public goods. This will prevent normal users from accidentally flooding networks with a ton of new unused clients/connections/channels.

[2021-01-05 12:21] colin-axner opened #350 "add helper function to construct only 1 header"
in `relayer/client-tx.go`
[code]
checking the header would indicate that getting `srcUpdateHeader` failed which is expected for upgrades. We want a function that only gets `dstUpdateHeader`

[2021-01-05 12:22] colin-axner opened #351 "remove client/connection/channel identifier generator functions"
see [comment](https://github.com/cosmos/relayer/pull/334/files#r535770558)

[2021-01-05 14:02] #331 closed, assigned to nobody

[2021-01-05 14:02] colin-axner commented on #332
fixed in #344

[2021-01-05 14:02] #332 closed, assigned to nobody

[2021-01-05 14:04] colin-axner commented on #300
this no longer occurs with fixes in #334

[2021-01-05 14:04] #300 closed, assigned to nobody

[2021-01-05 14:04] colin-axner commented on #317
timeouts fixed in #334

[2021-01-05 14:04] #317 closed, assigned to nobody

[2021-01-11 10:22] alpe opened #353 "Add staking amount to gentx for scripts [stargate][v0.40.0]"
With gaiad (`d974b27`) the ` ./scripts/two-chainz` script fails (on my box) with:
`Error: post failed: Post "http://localhost:26657": dial tcp [::1]:26657: connect: connection refused`

In the server log:
[code]

The root cause is the new argument for gaiad gentx which was introduced recently.
[code]

It affects this script https://github.com/cosmos/relayer/blob/master/scripts/one-chain#L67 and do

[2021-01-11 10:46] alpe opened #354 "Transfer is broken for [stargate][v0.40.0]"
[code]
fails (on my box) with `Error: failed to send transfer message`

The real error is:
[code]

There were some changes to the client identifier recently. They are generated on the server side.

[2021-01-11 10:49] alpe opened #355 "Add error logging for RelayMsgs.SendWithController"
The error from `SendMsgs` is ignored. This makes it quite hard to trace down issues like #354 .

For example in https://github.com/cosmos/relayer/blob/master/relayer/relayMsgs.go#L141 and others

[2021-01-11 11:04] alpe commented on #354
Sorry, my mistake. I did not link the chains proper 🙈
All working 🌷

[2021-01-11 11:04] #354 closed, assigned to nobody

[2021-01-11 11:27] #348 closed, assigned to nobody

[2021-01-12 11:13] colin-axner commented on #349
I started work on this in #358 . This feature isn't as useful as I initially thought since the consensus state the client would be created at must exist in a matching client. It is unlikely initially for relayers to fill in all consensus states instead of skipping and only update here and there. If the client identifier cannot be reused, then the subsequent connection/channel cannot be reused sinc

[2021-01-12 15:10] colin-axner commented on #343
cc @cwgoes @okwme

[2021-01-12 15:27] colin-axner opened #360 "Improve integration test automation"
Updating the integration tests to use the new gaia binary has involved manually going to the gaia repo, using the make commands there to push to your personal docker repository, replacing the image and tag in this repo in `test_chains.go` and then running the `make test-gaia`, if the test fails, you need to find the logs for the container used and then debug the issue. This is documented in #357

[2021-01-12 15:29] colin-axner opened #361 "Audit debug logging"
Debugging the relayer can be pretty difficult. Before I tackle a difficult bug, I usually load up the relayer with print statements. An audit should be down to increase the amount of *useful* debug statements so debugging handshakes, packet recv relaying, ack relaying, and timeout relaying is easier.

[2021-01-12 16:23] colin-axner opened #362 "Support creating clients with various client parameters"
Some client parameters like allowing unfreezing by governance is hard coded to false, these should be flags

[2021-01-12 21:26] greg-szabo opened #363 "Automatic channel ID creation uses invalid character"
I run the demo setup as described in the documentation, from the `master` branch (SDK v0.40.0).

After creating the link, I get `channel-0` as the channel ID for both networks.

After sending a transaction from ibc0 to ibc1 (relaying worked fine), the query command for the wallet on ibc1 fails:

[code]

The `NewCoin()` function does a validation on the denom name and that fails possibly because th

[2021-01-13 00:32] ebuchman commented on #343
Code is copyrighted by its authors. Everyone who has contributed code to this repo owns the copyright for the code they contributed.

Jack as the original author owned the original copyright and licensed the code under Apache. Which means everyone else who contributed (and owns copyright) also licensed under Apache.

Technically speaking we could/should change the copyright statement to something

[2021-01-13 11:23] colin-axner opened #364 "Update documentation to reflect recent changes in relayer flow"
Identifiers are now auto-generated by the connected chains. This needs to be reflected in the documentation

[2021-01-13 13:05] colin-axner opened #366 "Makefile assumes go path"
Make file assumes gopath is `$Home/go`. It should use enviroment variables to determine where to install the rly binary

[2021-01-13 18:20] colin-axner opened #367 "Relayer must set the tx config with the source chain before setting an address"
from slack:
[code]

The query to the counterparty chain was setting the address with the wrong account prefix.

[2021-01-14 09:55] colin-axner opened #368 "Migrate all pathEnd.go message construction functions to msgs.go and use Chain as the constructing type"
Currently message construction methods are being created by a `PathEnd`. This is unnecessary layering of information. We can move all these method construction to a `msgs.go` file. The `PathEnd` embedded in a chain is simply a pointer and not a list of pointers so trying to use a chain to house multiple path ends won't work and would require significant refactor. It'd be easier to simply create mu

[2021-01-14 10:49] colin-axner commented on #360
use [gaia image](https://hub.docker.com/layers/tendermint/gaia/latest/images/sha256-3d1274489dd65fb8faed114f9bd71f9d48e7df2e5780323a288b1dc7e2e8042c?context=explore)

[2021-01-14 15:04] #367 closed, assigned to colin-axner

[2021-01-14 15:07] colin-axner commented on #312
this is encompassed in #345

[2021-01-14 15:07] #312 closed, assigned to nobody

[2021-01-14 15:08] colin-axner commented on #368
see #369 for reference

[2021-01-17 14:53] cryptophonic commented on #363
Thanks for tracking this down - was trying to figure out a different issue this weekend and realized the demo was not working either.  Since the sdk.Coin array is being used only for output in this case, it's probably acceptable to skip the NewCoin() logic and just create the type directly:

[code]

[2021-01-17 21:18] orkunkl opened #373 "Getting "failed to get trusted headers" error"
relayer version: 1.0.0-rc
I am trying to connect **musselnet-2** and **stargate-final** networks via IBC. this is the error I am getting at the moment:
[code]

When I followed up the bug I found out this line is causing the error https://github.com/cosmos/relayer/blob/v1.0.0-rc1/relayer/headers.go#L122
which looks like might be related to this issue https://github.com/cosmos/cosmos-sdk/pull/8341

[2021-01-18 11:33] #346 closed, assigned to nobody

[2021-01-18 11:50] colin-axner commented on #373
If the line you linked is causing the issue then it is probably because of [#8327](https://github.com/cosmos/cosmos-sdk/issues/8327). Looking at the error it seems to me there might be a connection issue (but the returned errors might just be deceiving). What parameters do you have set for historical entries in genesis? Those determine the length of time the relayer will support interacting with p

[2021-01-18 11:52] colin-axner opened #375 "Decrease reliance on historical entries"
I haven't double checked the code, but if I recall correctly, the relayer uses on-chain historical entries to construct update headers. On chain historical entries are usually pruned. The relayer should allow the option to rely on a full node to query these headers. This would avoid relaying issues when the relayer works with events that occurred in time before the latest support historical header

[2021-01-18 11:55] #339 closed, assigned to nobody

[2021-01-18 12:13] orkunkl commented on #373
@colin-axner it is set to 10000 both in [musselnet genesis](https://rpc.musselnet.cosmwasm.com/genesis) and stargate-final-4

[2021-01-18 13:11] colin-axner commented on #373
@orkunkl could you try checking out the branch `colin/test-upstream-fix`, it contains the 8327 and 8341 fixes. Would be good if we could rule those out as possible errors

[2021-01-18 13:25] orkunkl commented on #373
Tried it with your branch.
[code]
This is the error I am getting now which is different than before. I guess your branch fixed `EOF` error and now historical entries limit is not enough now.
[code]
So I have not run relayer from the beginning of the chain. What can I do to make it run now?

[2021-01-18 13:28] colin-axner commented on #373
what is the current height of `musselnet-2`?

Go into `~/.relayer/config/config.yaml` and delete the client id's that have been set. Then rerun the `rly tx link` command

This will create new clients, which will rely on recent blocks. My guess is the clients currently created are older than the historical info in state, which results in this error.

[2021-01-18 15:11] #341 closed, assigned to nobody

[2021-01-18 17:31] orkunkl commented on #373
[code]
This command got stuck there for a while. What could be the reason?
[code]

[2021-01-19 10:01] orkunkl opened #381 "Error: invalid denom: transfer/channel-0/samoleans"
relayer:
[code]
wasmd:
[code]

I managed to setup relayer two local networks and successfully setup a connection.
I can transfer tokens from ibc-0 chain to ibc-1 but when ibc-1 testkey address balance is queried with `rly q bal ibc-1`
this is the error I get:
[code]
When I query the address balance using ``` wasmd query bank balances wasm1mcnxyh7xht5kvmlcwplk8zwfsknxlekqqej77d```
the transferred t

[2021-01-19 11:14] colin-axner commented on #373
Did it work? I can only see that the clients were created.

My guess is relayer had a hard time querying the chain. I believe it queries the chains for the `clnts` `conn` and `chan` to see if they are created

[2021-01-19 11:18] #366 closed, assigned to nobody

[2021-01-19 14:32] orkunkl commented on #381
Probably related to https://github.com/cosmos/cosmos-sdk/pull/8317, I will try it with updating relayer to latest cosmos-sdk

[2021-01-20 11:23] colin-axner commented on #112
tagging for akash

This is an essential feature requirement for the relayer. It requires a bit of work and definitely should wait until typed events are added. Might not be the best first issues to pickup, but definitely something that should be prioritized. Checkout [07-tendermint](https://github.com/cosmos/cosmos-sdk/tree/master/x/ibc/light-clients/07-tendermint/types) to understand how misbehav

[2021-01-20 11:26] colin-axner commented on #349
tagging for akash

I've done the work for clients, but connections and channel identifier reuse needs to be implemented as well. It should be fairly straightforward and similar in structure to clients. It would be great if Akash pickup implementing the rest of this issue.

cc @gosuri @akhilkumarpilli @anilCSE @boz

[2021-01-20 11:28] colin-axner commented on #345
tagging for akash

This is very useful for helping spot invalid config files which would likely lead to very confusing errors from the relayer. This should also handle cases where the connection identifier defined doesn't have the specified parameters (the client ID doesn't match with that for the defined connection ID)

cc @gosuri @akhilkumarpilli @anilCSE @boz

[2021-01-20 12:12] akhilkumarpilli commented on #345
We are looking on this.

[2021-01-20 12:13] akhilkumarpilli commented on #349
We are looking on this.

[2021-01-20 14:02] colin-axner opened #383 "test relayer client reuse changes"
see [comment](https://github.com/cosmos/relayer/pull/358#pullrequestreview-572222647)

Mostly just a note to self, but others can feel free to test this as well. Might be worthwhile to adding this as an integration test if easy enough

[2021-01-20 14:22] colin-axner opened #384 "Indeterminacy in the akash tests"
Occasionally the akash tests fail with:
[code]

rerunning the test usually results in a passing test. We should see if we can figure out why this is occuring. It might have to do with historical entries

[2021-01-20 14:23] colin-axner commented on #375
I believe this might have been causing the issue in #373

[2021-01-21 03:50] nuln commented on #381
The reason is that the coin denom regex does not support '-' character, but cross-chain coin denom contains channel id, and it contains '-', So either change the denom regex or change channel id rule! Latest version of cosmos-sdk is [v0.40.1](https://github.com/cosmos/cosmos-sdk/releases/tag/v0.40.1), you can modify denom regex by function [SetCoinDenomRegex](https://github.com/cosmos/cosmos-sdk/b

[2021-01-21 10:56] #368 closed, assigned to nobody

[2021-01-21 12:42] colin-axner opened #387 "Fix linter"
Might be nice if we started chipping away at the linting issues. There are a lot however and this should be very low priority.

[2021-01-22 03:35] jaybxyz commented on #291
+1

[2021-01-22 07:11] jaybxyz commented on #373
@colin-axner I also confront this `failed to get trusted headers: chain(stargate-final): post failed: Post:...` error when I tried to link `bifrost-2` and `stargate-final` chains.

[2021-01-22 09:07] jaybxyz commented on #373
I solved the issue by changing our full node pruning strategy to `nothing`

[2021-01-22 10:00] colin-axner commented on #373
we should update the error message to indicate that the headers have likely been pruned

[2021-01-22 14:03] orkunkl commented on #373
Updated wasmd to `v0.14.1` (runs cosmos-sdk v0.40.1) and gaiad to `v3.0.1`. Set `pruning` option to `nothing` and launched bare new nodes. relayer is running on master(https://github.com/cosmos/relayer/commit/d9decfa7a4d49669e12aef5468b38d5fdf667647)
Here is the relayer config:
[code]
I am getting the same error when linking:
[code]

[2021-01-22 15:31] colin-axner commented on #373
This is very odd, I just looked at the sequence of calls and the code seems to be fine. I have two theories

1) The time between the clients being created and the connection handshake initiating is enough time for the historical entries to pass and the historical info being pruned. This seems highly unlikely since you said `10000` was the value you set on both chains
2) The client creation functio

[2021-01-25 08:45] akhilkumarpilli commented on #345
@colin-axner, From where do we need to check existing connections or channels,  from config or querying from chain?

[2021-01-25 13:21] orkunkl commented on #373
@colin-axner I tried to update light clients but got the same error again.

[2021-01-25 14:28] colin-axner commented on #373
@orkunkl thanks for trying. Did the heights in the error message change?

I will try to reproduce your error this week and then continue debugging.

As a side note, you'll need to update your channel order to be `UNORDERED`. ICS-20 does not support ordered channels

[2021-01-26 02:31] jaybxyz commented on #373
### Same error message again

I had the same error message and solved it by changing `pruning` strategy to `nothing` before. Since `bifrost-2` requires `trusting-period` to be lower than `unbonding-period` which was 24 hours, I set it 23 hours. So, as `trusting-period` is over, the connection is expired. So I deleted `$HOME/.relayer` direcotry and tried to start from the beginning; re-initialize c

[2021-01-26 10:08] colin-axner commented on #373
@kogisin thanks for the report!! This was very useful. It made me realize I forgot to [check](https://github.com/cosmos/relayer/blob/master/relayer/client-tx.go#L309) if a client is expired or frozen when reusing existing clients.

This is a Tendermint light client security requirement. Trusting period must always be less than the unbonding-period

Here is what is happening:
1. Clients are being c

[2021-01-26 14:50] colin-axner commented on #373
@akhilkumarpilli if you have bandwidth, these would be some good issues to take on

Edit: I'll handle the first fix of checking for expiration

[2021-01-26 15:17] akhilkumarpilli commented on #373
Sure @colin-axner, will look into this.

[2021-01-26 17:03] colin-axner commented on #373
@orkunkl @kogisin I believe the main issue described above should be fixed with the latest commit on master. You will need to delete any existing client identifiers in your .relayer/config/config.yaml. Let me know if it still doesn't work

[2021-01-27 15:54] colin-axner opened #395 "Automatic Updates to clients to prevent expiry"
The golang relayer needs to be able to maintain on-chain clients without manual intervention. IG will handle this issue since it is necessary for Stargate

[2021-01-28 14:30] colin-axner commented on #345
If the configuration sets a client/connection/channel, the code needs to ensure that the set identifiers makes sense and that they exist.

If a configuration sets a channel identifier, but not a client identifier, this is wrong, as per bottom up validation. Channels must have an associated client so therefore the config should ensure that client identifier is set.

If a configuration sets a connec

[2021-01-29 09:53] chengwenxi opened #396 "Failed to initialize light client when the number of validators is equal 100"
**Summary**

`rly light init` return error when the number of validators is equal 100, may be caused by https://github.com/tendermint/tendermint/issues/6010.

[2021-01-29 11:00] colin-axner commented on #396
Definitely caused by the tendermint issue. That command calls the tendermint light client API to initialize a light client. Thanks for opening an issue

[2021-02-01 15:15] #349 closed, assigned to colin-axner

[2021-02-02 10:26] colin-axner commented on #350
closed by #390

[2021-02-02 10:26] #350 closed, assigned to nobody

[2021-02-02 12:14] colin-axner commented on #387
closed by #394

[2021-02-02 12:14] #387 closed, assigned to nobody

[2021-02-02 13:56] #345 closed, assigned to nobody

[2021-02-02 14:02] colin-axner commented on #395
@anilCSE @akhilkumarpilli if y'all would like to take this on, that would be good. Otherwise we will do it at some point. This definitely needs to be a tested feature though

[2021-02-02 14:39] akhilkumarpilli commented on #395
Sure @colin-axner , we will look into this.

[2021-02-02 15:57] colin-axner opened #400 "deprecate `rly tx channel` or rename `tx link` cmd"
see [comment](https://github.com/cosmos/relayer/pull/399/commits/fc14bad941ca6c659eebb11e97123f0de2d03a58#r568658503).

We should consolidate this functionality into one well named command. There shouldn't be any use cases for only running channel handshakes without at least checking that the clients/connections are created properly.

[2021-02-02 16:25] colin-axner commented on #375
Short term fix:
- automatic updates within the historical entries param (since trusted headers are currently retrieved from on-chain)

Long term fix:
- Use full node to query trusted headers

[2021-02-02 23:08] michaelfig opened #401 "config add-dir regression (segmentation violation)"
The bottom-up validation has caused a regression in `config add-dir`.  I can verify that this bug doesn't exist on master when #398 is reverted.

This happens when the directory added contains, say, `ibc0.json`, `ibc1.json`, `path1.json` (note that the path configuration is alphabetically later than the chain configurations).

It appears that the bottom-up validation assumes that the chains for al

[2021-02-03 10:33] colin-axner commented on #401
So to summarize:

Because the add dir command ranges over the files [provided](https://github.com/cosmos/relayer/blob/2f1a8120d00792eda3b03312573631f6cfcf3dde/cmd/config.go#L202) in the specified directory we cannot know if chain path comes before or after the chain config files. When we try to check the paths without the chain config files being set, we naturally panic.

Note, the code in this fu

[2021-02-03 10:34] colin-axner commented on #401
@akhilkumarpilli do you have time to push a fix for this, this week?

[2021-02-03 11:01] colin-axner opened #403 "Support multiple sender keys for a single chain"
Chains currently use a single key to sign messages. This requires editing the config to use a different sender key. I don't think adding another config will work since the chain-id would already exist.

The code heavily relies on the existence of a single key. Adding multiple keys might be easy, but it will lead to more instability/bugs in the code. I don't think this feature should be added witho

[2021-02-03 15:33] akhilkumarpilli commented on #401
Sure @colin-axner , we will try to push a fix, this week.

[2021-02-03 18:57] jackzampolin opened #404 "DOCUMENTATION: Demo the relayer"
The current documentation for demoing the relayer is significatly out of date. However, it does seem that the `./two-chainz` script spins up 2 gaia instances and `./dev-env` almost works. Is there an example of running the relayer demo anywhere? Happy to update the README if I can find it.

[2021-02-03 19:18] Oggysweep opened #405 "Unbonding to Delegated"
Hi, I have some unbonding AKT tokens on my phone and want to change them to Delegated, so I can have all in delegated.   How do I do this?
Also, I have a few AKT which are "available".  How do I move those to Delegated?
TIA

[2021-02-04 09:37] colin-axner commented on #404
On this note, I think the relayer desperately needs two pieces of documentation:
- the overall concepts/flow/ideas of what a relayer is doing, how it interacts chains, how wallets/exchanges would use it etc
- from a wallet/exchange point of view. What are the concrete steps needed to take to start relaying on a specific port/channel

[2021-02-04 10:40] colin-axner opened #407 "Remove Strategy Interface"
This relayer should be simplified and we can remove all the extra code glueing a strategy and the naive strategy. This will reduce UX complexity as well. Low priority

[2021-02-04 10:52] colin-axner commented on #405
Hi, if AKT tokens belong to the cosmos ecosystem I suggest you checkout the cosmos [discord](https://discord.com/invite/AzefAFd). Relayer issues are reserved for relayer bugs and feature requests. Delegation is unrelated to IBC.

[2021-02-04 10:52] #405 closed, assigned to nobody

[2021-02-04 12:07] fedekunze commented on #407
I think the minimal relayer should only implement the naive strategy (i.e user defines the route). Additional strategies could be added in the future as improvements

[2021-02-04 13:04] colin-axner commented on #407
I'd prefer to leave additional strategies to more advanced relayers. This relayer should do one relayer strategy and it should do it well

[2021-02-04 13:15] #401 closed, assigned to akhilkumarpilli

[2021-02-04 15:21] zramsay commented on #404
so the gif demo in the readme https://github.com/cosmos/relayer#demoing-the-relayer is out of date but the demo immediately following it still works. I ran through it a few days ago pretty much without issue and everything worked as described.

[2021-02-04 16:14] colin-axner commented on #353
looks like it was fixed in #537

[2021-02-04 16:14] #353 closed, assigned to nobody

[2021-02-04 16:16] colin-axner commented on #363
This has been fixed in both v0.7.0 and on the current master branch

[2021-02-04 16:16] #363 closed, assigned to nobody

[2021-02-04 19:36] zramsay opened #409 "update this file about the relayer and the IBC docs in general"
https://docs.cosmos.network/master/ibc/relayer.html

Those IBC docs could use an update & we'll need to consider where they go/how they get generated given https://github.com/cosmos/cosmos-sdk/issues/8501

[2021-02-05 15:22] colin-axner opened #413 "DRY code for queries"
QueryClientState should return a tendermint client state and not the response. Lots of code duplicates the unpacking/casting. This should be delegated to the helper functions

[2021-02-09 10:06] colin-axner opened #414 "Remove SyncHeaders"
I never understood the exact purpose of `SyncHeaders`, but I realize now it is just a cache of the latest headers for each chain id ie a cache with a depth of 1 per chain-id. Sync makes sense in this context, but it doesn't make sense until you know what it does, stating the structure to be a cache of headers will make more sense imo

[2021-02-09 10:10] colin-axner commented on #414
Alternatively, I'd be in favor of outright removing this structure. We really should just be interacting with the trusted store of the tendermint light client. It doesn't make much sense to keep a cache of one header, I don't even know a location where we benefit from this

[2021-02-09 10:40] colin-axner opened #415 "Don't panic when constructing IBC messages"
Currently in some of the msg construction functions like `UpdateClients`, a panic occurs if basic validation fails. We should return an error instead

[2021-02-09 11:15] colin-axner commented on #414
I'll be removing them, my refactor of the light clients greatly reduces the complexity here. We simply can either update the off chain light client or get a header to update the on chain light client

[2021-02-09 11:41] colin-axner commented on #400
closed by #410

[2021-02-09 11:41] #400 closed, assigned to nobody

[2021-02-09 11:41] colin-axner commented on #381
this is fixed on master

[2021-02-09 11:41] #381 closed, assigned to nobody

[2021-02-09 15:31] colin-axner opened #417 "Client Creation should ensure pre-specified identifiers do not contain expired clients"
During client creation, if a clientID is set we should check it exists (done already) and that is isn't expired/frozen

[2021-02-10 09:18] ancazamfir opened #418 "Ack message relaying may fail in a 3 chain setup"
We just fixed a similar issue with the Rust relayer (https://github.com/informalsystems/ibc-rs/issues/614).

Steps to reproduce:

- Start `ibc-0`, `ibc-1`, `ibc-2` using the `three-chainz` script
- Add paths `zeroone` and `onetwo` (some changes in the .json required):
[code]
- Setup paths and make sure `ibc-0` and `ibc-2` use the same channel id
[code]
-  Send one transfer to  each of `ibc-0` and

[2021-02-10 09:18] ancazamfir commented on #418
The problem is the ack query here:
https://github.com/cosmos/relayer/blob/9f13a93aabceea901e86a1f6eda7110f1e35df4e/relayer/naive-strategy.go#L816-L819
It is performed with `packet_src_channel` which is the same for both paths.

Following diffs seem to fix the issue:
[code]

With the fix:
[code]

[2021-02-10 10:56] colin-axner commented on #418
thanks @ancazamfir for the bug report and the proposed fix! This logic makes sense to me. Essentially managing acknowledgements happens from the destination chain perspective (which happens to be labeled `src` in this function). This is why we need `src.PathEnd` and `packet_dst_channel`

[2021-02-10 13:01] colin-axner opened #420 "Allow relayer to use non-tm clients"
see [comment](https://github.com/cosmos/relayer/pull/416#discussion_r573701606). Using non-tendermint clients requires a large refactor and this should not be done anytime soon unless it reduces code complexity. This sort of feature requires a long term maintainer

[2021-02-10 13:16] #418 closed, assigned to colin-axner

[2021-02-10 13:23] #327 closed, assigned to nobody

[2021-02-10 13:23] #375 closed, assigned to colin-axner

[2021-02-10 13:23] #414 closed, assigned to colin-axner

[2021-02-11 11:59] colin-axner opened #422 "DRY connection/channel updates"
Now that `chain.UpdateClient` does all updating functionality. I'm pretty sure we can reduce several lines of code by calling src.UpdateClient and dst.UpdateClient in the beginning of connection/channel handshakes and using those messages when necessary. To fix this issue, simply construct the update message for src and dst once, at the top of ExecuteConnection(Channel)Handshake, and pass those in

[2021-02-11 21:00] michaelfig opened #423 "ibc-transfer packet acknowledgements are broken"
@colin-axner writes:

I tested #416 between my cosmos-sdk v0.41.0 chains (with `--pruning=nothing`), waiting until the `genesis.app_state.staking.params.historical_entries` value of 100 was long past, and I got a lot of consensus state failures:

[code]

IOW, the packet was relayed correctly but the ack was not returned.  This is between two cosmos-sdk `application/ibc-transfer` instances, listeni

[2021-02-12 09:57] colin-axner commented on #423
@michaelfig sorry for the confusion but #416 had a bug. #421 fixed this. Do you still see this error on master? (It's the same as the reported bug so I suspect it is fixed)

[2021-02-12 10:00] colin-axner commented on #423
We could reduce the number to 1000. This would give an hour for connection handshake to complete. 100 might still be a little low, connection handshakes would have to be completed within 10 minutes of being initiated

[2021-02-12 10:28] #395 closed, assigned to AdityaSripal, colin-axner, fedekunze, akhilkumarpilli

[2021-02-12 10:30] colin-axner commented on #423
I'm noticing some indeterminacy in the tests (though it has been like this for a while). I suspect there is some very subtle bug. Let me know if you continue to run into issues using master. I will cut a v0.8.0 when I think the code has stabilized a little.

[2021-02-12 10:47] colin-axner commented on #423
I think I know the issue, will try to post a fix. This is also something that can be remedied using auto updates (which has now been merged)

see #424 there may be remaining bugs but this should help

Edit: #425 is needed to stabilize the relayer. This was an existing problem, the recent refactors just helped reveal it to me

[2021-02-12 12:03] colin-axner opened #425 "Refactor update client and packet relay some more"
I'm fairly pleased with the recent refactor of update clients, it reduced the code quite a bit and improved readability. It did however also reveal a sort of brittleness built into the relayer. Anytime we need to provide proof on chain, a consensus state must exist on chain. In #424, I restructured the updates to occur once at the beginning, however this convention is not stable when retries are d

[2021-02-12 15:36] michaelfig commented on #423
I thought `historical_entries` was no longer used.  Can you explain the dependency?  And do you mean "channel handshakes" or "connection handshakes"?

[2021-02-12 15:53] michaelfig commented on #423
Please tag me when you'd like me to test again.

Current master (81dd43c751c9aee1e50506e41644b3c167228841):
[code]

[2021-02-12 15:56] colin-axner commented on #423
consensus states are objects stored on chain. Historical entries is not used, but each time we need to prove something on chain, we need to do so against a specific consensus state. Much of the code in this codebase separates construction of an update message and construction of the proof. This is problematic since we need the proof to be constructed against the update message. #425 would fix this

[2021-02-12 15:57] #422 closed, assigned to nobody

[2021-02-12 16:02] colin-axner commented on #423
A word of warning, retries for packet relaying will likely fail. I fixed it for handshakes but relaying retries will require a deeper refactor. Simply rerunning the command should work

[2021-02-12 16:08] michaelfig commented on #423
I tried 067f477, and it worked!  Thank you so much, now I'll go on and test out dIBC.

[2021-02-12 16:13] colin-axner commented on #423
Awesome! @michaelfig that's great to hear. Closing this for now since #425 should hopefully tackle the major issues remaining

[2021-02-12 16:13] #423 closed, assigned to nobody

[2021-02-12 16:38] michaelfig opened #426 "add-paths nil pointer dereference"
Hi, when I try adding a new path, I get the following error:

[code]

The `nchainz/config/paths` directory contains only a single file, `path-1.json`, whose contents are:

[code]

Output from `rly config list` (note that `path-0` is currently being streaming relayed, but I've reproduced the failure even when the relayer is stopped):

[code]

[2021-02-12 17:47] michaelfig commented on #426
Turns out the `c.PathEnd` in `c.QueryClientState(height)` on `relayer/query.go:130` is nil.

If I stop the chains, then I get:

[code]

[2021-02-15 11:17] colin-axner commented on #426
Thanks for the write up. Will look into it now.

Are you using a custom ICS20 implementation? If I recall correctly, both versions need to be [ics20-1](https://github.com/cosmos/cosmos-sdk/blob/a534a960dbfaf438dc86e93478033d9055cebebc/x/ibc/applications/transfer/module.go#L266)

[2021-02-15 11:25] colin-axner commented on #426
Looks like there are multiple issues with path validation. I'll see if I can rework it and post a fix

[2021-02-15 11:36] colin-axner commented on #426
Also, this is not good news, but I don't think the relayer can support what you are trying to do. From my understanding of the relayer architecture, there can only be one chain of a certain chain-id and only one path end for that chain. Obviously this makes the golang relayer pretty limited and this is a completely reasonable request, but the way it is designed prevents an easy fix.

The best I co

[2021-02-15 13:15] #426 closed, assigned to nobody

[2021-02-15 14:50] michaelfig commented on #426
Unfortunately, things seemed to work properly before the bottom-up validation was implemented.  So I see it mainly as a regression, and without this basic use case working (and since the Hermes/Rust relayer is not yet ready) I can't deploy cosmos-sdk v0.41.0 in good faith.

The feature I need is to configure multiple paths for a single connection, and start/stop a separate relayer instance indepen

[2021-02-17 17:56] colin-axner commented on #425
The function that wraps a message with an update client should take in a proof height, 0 indicates use the latest ie consensus state height doesn't matter

[2021-02-18 08:17] colin-axner commented on #396
should be fixed now that we are on v0.34.7 of TM

[2021-02-18 08:17] #396 closed, assigned to nobody

[2021-02-18 10:40] colin-axner commented on #425
Note to self:
[code]

Going to fix today

Edit: false alarm, issue was related to a broken `rly paths generate` cmd

[2021-02-18 14:20] colin-axner opened #432 "Replace rly paths generate with a simpler command"
This command is outdated and way over complicated. It should be replaced with a command that generates a path config comparable to those used by the scripts. chain-id, port names, channel type and that is about it

[2021-02-23 10:13] orkunkl opened #433 "Add documentation for timeout threshold"
I have been tinkering with relayer lately. There is an issue that I don't understand, and under documented.
- What is `trusting-period` and what `--timeout-threshold`'s relation with it?
- How to configure these values to achieve a long living relayer?

[2021-02-23 10:22] colin-axner commented on #433
Yes documentation for this would be great. `trusting-period` is a tendermint specific concept. When we create an on-chain IBC light client representing a tendermint chain (for example, the cosmos hub), we need to specify the period of time it can be trusted to validate headers between. This relates to the unbonding period. The unbonding period is the mechanism that holds validators accountable whi

[2021-02-24 12:36] orkunkl opened #436 "Packet commitment not found / invalid acknowledgement bug"
I'm trying to relay messages between musselnet-4 and stargate-final

wasmd version:
[code]

gaiad version:
[code]

relayer version:
Running on master
[code]

This is the error I am getting when relaying packets between these two networks:
[code]

[2021-02-24 16:39] colin-axner commented on #436
It looks like you send 2 transactions and only one gets relayed. Do you know if it is the first or second transaction that fails?

[2021-02-25 14:56] cryptophonic commented on #373
I have pruning set to nothing on both chains here but if I leave the relayer running I always get this error in the morning.  Re-initializing the light clients does not help.

[2021-02-25 16:56] colin-axner commented on #373
What version are you using?

[2021-02-25 17:02] cryptophonic commented on #373
I've tried various versions, right now I'm on the latest master commit f201839e530206fc6664f59b96d3f80ea026b26b

[2021-02-25 17:08] cryptophonic commented on #373
It's failing to pull the TrustedLightBlock in GetLightSignedHeaderAtHeight() in the db.  not sure why yet.  The block header exists on-chain, I can query it with gaiad query block 19407

[2021-02-25 20:57] cryptophonic commented on #373
I[2021-02-25|20:56:26.848] - [gaiad-microtick-testnet]@{32776} - try(1/5) query packet commitment: portID (transfer), channelID (channel-1), sequence (14): packet commitment not found
I[2021-02-25|20:56:27.345] - [gaiad-microtick-testnet]@{32776} - try(2/5) query packet commitment: portID (transfer), channelID (channel-1), sequence (14): packet commitment not found
I[2021-02-25|20:56:28.223] - [ga

[2021-02-26 10:56] colin-axner commented on #373
Based on the error logs, it looks like the proof constructed for the receive message is at height 32778, but the on-chain client is at height 19407. It cannot verify a proof from the future. It seems an UpdateMsg is not being sent directly before the receive message or it is being sent with the wrong updateMsg.

Message index 1 tells me the UpdateMsg is there. So I guess the updateMsg is using the

[2021-02-26 14:26] cryptophonic commented on #373
I will attempt to create a local setup that can reproduce, and better document the steps.  I want to leave the chains in question running in case we need to debug on them..

I'll report back later today (morning here and just getting some coffee)

[2021-02-26 15:25] colin-axner commented on #373
#437 should fix this issue

[2021-02-26 16:22] colin-axner commented on #436
Does rerunning the command work?

[2021-02-28 21:53] cryptophonic commented on #373
We had another failure using this release.  The relayer had been running for 6-7 hours when the failure occurred.  Stopping it at that point and restarting resulted in the "Light block not found" error.

[code]

[code]

[2021-03-01 14:08] colin-axner opened #439 "Add a user option to turn on light client logger"
Add a user config option to turn on the tendermint light client logger

[2021-03-01 18:26] colin-axner commented on #112
Here's how this should be done:

When an update client event occurs while listening to streaming events, parse the header out of the emitted events. Check that header against the trusted headers in the light client store. If they match, do nothing and move on. If they don't match. Construct a misbehaviour and submit it to the on-chain client

[2021-03-01 20:59] cryptophonic commented on #373
Release v0.8.2 appears to have fixed this for us.  Haven't noticed any issues and have been hitting it pretty hard for a couple hours.  Nice work!

[2021-03-02 11:27] colin-axner commented on #373
Amazing! Happy this has been resolved

[2021-03-02 11:27] #373 closed, assigned to nobody

[2021-03-02 15:42] AbhinavMir opened #443 "Amount deducted from sender, but Relayer not relaying transaction"
I've been trying to send a transaction from chain A to chain B, but upon trying to transact using `Relay the tx using: rly tx rly PATHNAME -d`, the transaction is not going through. Everything else works fine, the chains are connected and from chain A, the amount is deducted. What am I doing wrong here?

[2021-03-02 15:53] colin-axner commented on #443
Hello :wave:

I'd suggest joining the cosmos [discord](https://discord.com/invite/AzefAFd) to get help. We will need more information on what is occurring to help you debug the issue. Is there any output from running `rly tx rly`?

[2021-03-02 15:53] #443 closed, assigned to nobody

[2021-03-04 05:38] AbhinavMir commented on #443
Hi @colin-axner , I shared the question in the discord but got no response. `rly tx rly` is not giving any output. Should I add the steps I took for replication purposes? Thank you for your help.

[2021-03-04 11:13] colin-axner opened #444 "Panic in light client db"
Reported from the cosmos discord channel for IBC
[code]

[2021-03-04 11:14] colin-axner commented on #444
Try leaving the relayer running to attempt to reproduce

[2021-03-04 11:21] colin-axner commented on #443
Hi, did you try asking in #ibc-public or #ibc-relayer?

Try using the `-d` flag (debug)

[2021-03-04 21:57] AbhinavMir commented on #443
`-d` gives no outputs either. I'm not able to join the #ibc-relayer or #ibc-public (messages not showing). Let me try that again.

[2021-03-05 10:07] colin-axner commented on #443
I think you need to visit the #show-channels channel

Providing the steps you took would help. I suspect something isn't setup properly

[2021-03-05 15:32] colin-axner opened #445 "Add override flag for client reuse"
Due to the fragmented code, some light clients get stuck. We should add an override flag to not reuse the same client

[2021-03-08 14:24] colin-axner opened #446 "update disable pruning strategy error message."
Explanation from discord:

The confusion on pruning is due to many different layers using the same terminology as well as poor relayer architecture.

The full node using pruning. IBC does not need prune nothing for the node. The pruning strategy at most needs to keep up to the unbonding period worth (as this is all relayers ever need to grab proof from), but it could get away with pruning much mor

[2021-03-10 10:19] colin-axner opened #452 "Add light block to trusted store when missing"
When a light block is not found, we should pull the header and have the light client verify it and add it to the trusted store. This should fix the majority of the `light block not found` errors and greatly fix the UX

Specifically [here](https://github.com/cosmos/relayer/blob/cf49cb43d3e3571c87d4b9d1aaa872ed74b220ef/relayer/tm-light-client.go#L297), if the trusted light block is missing, we want

[2021-03-11 10:54] #446 closed, assigned to nobody

[2021-03-12 12:23] #452 closed, assigned to AdityaSripal

[2021-03-16 17:11] colin-axner opened #458 "Upgrade chain needs to use IBC upgrade proposal"
Once the codebase is updated to ibc-go, [this](https://github.com/cosmos/relayer/blob/2a2dd3b0d8edb3bf2c23909a74b8968f82a5e6ff/relayer/chain.go#L715) needs to become an IBC upgrade proposal

[2021-03-17 12:37] colin-axner opened #459 "query balance cmd returns duplicate responses"
[code]

[2021-03-17 12:42] colin-axner commented on #459
This [code](https://github.com/cosmos/relayer/blob/2a2dd3b0d8edb3bf2c23909a74b8968f82a5e6ff/helpers/query.go#L40) is incorrect

We should be displaying the full denom trace and the `default` case should not add the coin to out. The code could be rewritten, we want to display the denom trace for each coin that is an IBC token. The ICS 20 query functions probably provide a better way of doing this

[2021-03-17 12:43] colin-axner commented on #459
Tagging good first issue since it isn't hard to fix, but will take some time to fix if you are unfamiliar with IBC. Don't attempt to fix if you want something that takes less than 10 minutes

[2021-03-18 08:10] cdkj opened #460 "Add command "rly tx acks demo -d" in README.md"
In order to enable users to fully understand the operation process of IBC protocol,
I suggest adding command `rly tx acks demo -d` after `rly tx relay demo -d`

[2021-03-22 13:28] colin-axner commented on #459
TODO: [Apply review comments](https://github.com/cosmos/relayer/pull/464#pullrequestreview-617515257)

[2021-03-22 13:39] #112 closed, assigned to colin-axner

[2021-03-22 13:41] #360 closed, assigned to nobody

[2021-03-24 22:19] #460 closed, assigned to nobody

[2021-03-25 20:23] alexanderbez commented on #444
Good work @colin-axner but this issue still persists. While I think your attempted approach is sound and makes sense, it doesn't resolve the issue at hand. Being so, I think this just alludes to the fact the current relayer architecture and design is not suited for production-grade environments.

I'll re-open this issue along with an ADR for a proposal that I believe will make the relayer more rob

[2021-03-25 20:29] alexanderbez opened #469 "proposal: remove commands.md"
I propose we remove https://github.com/cosmos/relayer/blob/master/docs/commands.md.

I spent a bit of time cleaning up the CLI command UX only to realize I have to groom through this large doc and update it. I believe we should remove this doc for two primary reasons:

1. Continuous burden of maintenance and keeping the doc in sync with the actual CLI.
2. The CLI itself should and does act as its

[2021-03-26 09:52] colin-axner opened #473 "Relayer uses incorrect trusted height to construct validator set"
It should use `trusted height + 1`

[2021-03-26 10:53] #473 closed, assigned to nobody

[2021-03-26 11:02] colin-axner commented on #469
ACK - I completely agree. It is just extra maintenance debt

[2021-03-26 12:54] #469 closed, assigned to alexanderbez

[2021-03-26 16:41] colin-axner opened #476 "Correctly determine the next possible height to update to"
The relayer supports a mechanism to do automatic updates of the client if it is about to expire. This can potentially lead to the expiry of a client if we don't handle this properly.

In order for a light client to be updated, the validator set that signed off on the block it is updating to, needs to match the trust level set on the client.

- A trust level of 1 means the blocks need to be verifie

[2021-03-26 17:51] alexanderbez commented on #476
Great point @colin-axner! Are points (1) and (2) part of the same proposal or are they different approaches?

It seems to me that we need to find a way to balance performing frequent enough client updates within the trusting period but not too much as to have a high cost of running a relayer.

It also seems like no matter the approach we come up with, the problem might always exist because theoret

[2021-03-27 12:04] PaddyMc opened #477 "Relayer will return an error when trying to connect to secure websockets"
### Description

The relayer will return a `bad handshake` error when trying to connect to secure websockets. This happens because the chain config specifies the `rpc-addr` as `https://`and the ws-client will default to unsecure websockets

This error stems from the ws-client in Tendermint-core:
- https://github.com/tendermint/tendermint/blob/master/rpc/jsonrpc/client/ws_client.go#L106-L109

To fi

[2021-03-28 17:18] alexanderbez commented on #477
Thanks for opening up an issue and clearing outlining the issue @PaddyMc!

You state:

Can you expand upon why you think fixing the handshake logic in Tendermint Core is not the ideal or best approach? If there is a better solution, one that resides in the relayer itself, what would it be?

[2021-03-29 10:17] colin-axner opened #479 "account sequence mismatch"
[code]

I don't see a way to fix this? Outside of maybe removing the key and restoring it

[2021-03-29 11:42] colin-axner opened #480 "Return message error when send fails"
A transaction failing to send usually looks like this:
[code]
We should be returning the error to the user

[2021-03-29 11:51] colin-axner opened #481 "Relayer needs to support disabled timeout heights"
Packets can disable usage of a timeout height by setting the revision number and height both to 0.

The relayer was never architected to support revision numbers. The revision number feature was added fairly last minute to IBC. A lot of places assume the [existence](https://github.com/cosmos/relayer/blob/76eb658fb20a872b002ac4a523ac14f649132937/relayer/msgs.go#L378) of a timeout height. State base

[2021-03-29 12:05] colin-axner commented on #476
(2) is dependent upon (1) but (1) can be done first.

The relayer updates the IBC clients in two situations:
- relaying messages (updates client so client can verify proof)
- preventing expiry

Updates to past blocks are valid. So if we wait 1.5 weeks to update the client. We can first update to a block produced a 1 week ago and then .5 weeks ago and finally to the current block (if needed)

We wi

[2021-03-29 12:10] colin-axner opened #482 "Support packet delays"
To add extra security for IBC, connections support packet delays. When an update occurs to an IBC client, packets can not be processed until the delay associated with the connection passes relative to the time or height the update message was processed.

Using 5 blocks as the packet delay:
Update occurs at height 1000 on the receiving chain
The packet cannot be processed until height 1006

Current

[2021-03-29 12:23] seantking commented on #481
Setting both height & revision number to 0 causes the relayer to error for me.

[code]

[2021-03-29 13:25] alexanderbez commented on #482
Thanks @colin-axner. Does the relayer currently assume a delay of zero because the relayer, when creating the connection uses a delay value of zero?

[2021-03-29 13:30] alexanderbez commented on #476
@colin-axner how do we determine which heights we need to update the clients for? Do you first go back as far as you can and incrementally check if the next height is valid to update?

[2021-03-29 13:51] PaddyMc commented on #477
Thanks for the quick response :bow:

The [ws-client](https://github.com/tendermint/tendermint/blob/master/rpc/jsonrpc/client/ws_client.go) in Tendermint just says if the protocol is not `wss` it's `ws` so the assumption (although hacky) is correct when creating a websocket, we could add some fancy logic to the ws-client to say if the protocol is `https` we can assume that the websocket protocol is

[2021-03-29 14:36] colin-axner commented on #482
Yup. Packet delays was also a last minute feature so neither hermes nor golang relayer support non-zero packet delays

[2021-03-29 15:03] colin-axner commented on #476
@alexanderbez depends on the trade-offs we want to make. We could do guess work. Start from heights which cannot be updated to and guess what height might be a good candidate for verifying if it can be updated to. This is useful if we want to limit incrementally verifying every block.

If we wanted to limit the number of update messages sent to the chain, then we would want to some how find the la

[2021-03-29 15:05] colin-axner commented on #476
I'm mostly opening these issues as context for items that should be accounted for when designing a relayer, since they need to be baked into the architecture

[2021-03-29 15:08] alexanderbez commented on #477
Happy to review a PR @PaddyMc!

[2021-03-29 16:18] #444 closed, assigned to alexanderbez

[2021-03-30 10:54] #481 closed, assigned to nobody

[2021-03-31 07:32] hacheigriega commented on #425
Hi @colin-axner. Can I bring your attention to the following error I am getting in relaying acknowledgement?

[code]

This issue disappeared after #424 but has reemerged since #431. Do you think it's plausible that #431 contained some errors? Thanks.

[2021-03-31 11:56] colin-axner commented on #425
Thanks for reporting this. Yes it is possible #431 contained some errors, but #424 shouldn't have fixed this issue. Can you show me the full logs? What steps did you take before getting this error?

[2021-04-01 04:54] hacheigriega commented on #425
I am just trying to test a transfer transaction between two chains. I tried the following on #431:

[code]

These steps work fine on #424. Thanks again.

[2021-04-07 15:41] colin-axner commented on #425
@hacheigriega Sorry for the late reply. Thanks for the logs! That helped me identify the issue really fast. I will open up a pr to fix the issue

[2021-04-08 03:07] songwongtp opened #489 "Height in update_client is always greater than proofHeights in the sending messages/acknowledgements"
Hi all,

Sometimes when I am sending a message between my two chains,  I would get an error like the below:
[code]

So my friend and I did some digging into the code and find out that packet commit responses are generated with `FetchCommitResponse` at the beginning of `sendTxFromEventPackets` method and never get updated again. So in a case when `updateMsg`  somehow has its height higher than the

[2021-04-08 10:28] colin-axner commented on #489
Hello! Thanks for the nice writeup! Very good conclusions. This issue is also discussed in #425. I like your solution added in (2).

Do you think you could upstream the fix?

[2021-04-08 11:19] colin-axner commented on #480
Logs were already being displayed in detail

[2021-04-08 11:19] #480 closed, assigned to akhilkumarpilli

[2021-04-08 12:25] #351 closed, assigned to nobody

[2021-04-08 12:25] #432 closed, assigned to akhilkumarpilli

[2021-04-08 17:39] songwongtp commented on #489
Sure I have created a new PR here https://github.com/cosmos/relayer/pull/490

[2021-04-09 10:30] colin-axner commented on #489
closed by #490

[2021-04-09 10:30] #489 closed, assigned to nobody

[2021-04-12 10:18] #425 closed, assigned to colin-axner

[2021-04-12 13:48] #362 closed, assigned to akhilkumarpilli

[2021-04-14 09:56] colin-axner opened #493 "Remove dependency on Tendermint light client"
The light client isn't actually verifying the proofs returned from the full node. It is being used to get the headers to use the previous validator set. We should be using the full node to get the past headers and proof

If desirable, we could verify proofs with the light client before submitting them on chain. But given the current strategy of this relayer, I'd prefer to see the light client remo

[2021-04-14 10:34] colin-axner commented on #493
In general, it should be possible to run a relayer without initializing a light client

[2021-04-14 13:47] colin-axner commented on #436
This issue has become outdated, please add more details if it is still an issue in the latest versions. Thanks!

[2021-04-14 13:47] #436 closed, assigned to nobody

[2021-04-14 13:50] colin-axner commented on #433
To close this issue:
- ensure timeout threshold is well documented

[2021-04-14 13:57] colin-axner commented on #409
this is an issue for ibc-go

[2021-04-14 13:57] #409 closed, assigned to zramsay

[2021-04-14 13:58] colin-axner commented on #404
docs have been updated

[2021-04-14 13:58] #404 closed, assigned to zramsay

[2021-04-14 14:00] colin-axner commented on #321
is this still true?

cc @seantking

[2021-04-14 14:00] colin-axner commented on #299
likely out of date

[2021-04-14 14:00] #299 closed, assigned to zramsay

[2021-04-15 10:05] #445 closed, assigned to akhilkumarpilli

[2021-04-16 10:36] colin-axner commented on #477
Short term solution in the golang relayer:
- parse addr into url, if url.Port() == "443", replace the scheme with wss

This fixes the issue at hand which is trying to create a ws with an endpoint that only supports secure connections

An issue can be opened on Tendermint to discuss the possibility of increasing the flexibility of deciding when a websocket is WSS. Even if Tendermint decides it does

[2021-04-19 14:28] AdityaSripal commented on #479
I'm having the same issue. Did removing and restoring work?

[2021-04-20 09:56] #361 closed, assigned to akhilkumarpilli

[2021-04-20 16:22] colin-axner opened #500 "Interchain Gmbh Backstop Ending Tracker"
Interchain Gmbh stepped in to backstop the relayer in order to support IBC mainnet launch. Now that [Hermes](https://github.com/informalsystems/ibc-rs/) and the [TypeScript relayer](https://github.com/confio/ts-relayer) have showed tremendous capacity to be the future relayers of the ecosystem, we believe we can soon end Interchain Gmbh's backstop to prioritize development in other areas, such as

[2021-04-21 10:12] ancazamfir commented on #500
How do we measure/test this? Are there requirements, tests, configurations available that we can try?

Could you clarify what this means?

[2021-04-21 10:41] colin-axner commented on #500
I believe manual testing is sufficient, but CI testing is ideal. My main concern with stability is a relayers ability to stay active > 1 week. The go relayer historically has had a tough time being active for longer than a day

As far as configurations go, support is needed for:
- trusting periods >= 1 week (maybe even less, but I don't see strong incentive for small trusting periods)
- trust leve

[2021-04-22 06:07] michaelfig commented on #500
Our most problematic requirement (the one we had to hack up a shell script to wrap the Golang relayer) would be solved if there is a way for the relayer to start an instance that runs continuously and relays all channel handshake/setup and data packets on a given IBC connection, keeping the light clients up-to-date.  With that, it's just a devops process to support an eternal IBC connection with a

[2021-04-22 06:40] ethanfrey commented on #500
Please do check out the ts-relayer. We have a new quick start and working on an overview feature matrix (in pr).

Short answer is the ts-relayer is designed to handle 1 connection. It relays all packets on all channels over that connection. (And acks and timeouts too of course)

It picks up channels dynamically. What it does not do is auto-create new channels, we have another tool `ibc-setup` that

[2021-04-22 07:16] michaelfig commented on #500
Thanks, that's great!  If `ibc-setup` can do the connection handshake only, and then report the connection identifiers, that's all we need for the "outbound-from-Agoric" dIBC use case I'm interested in.

That's what I wanted to hear.  I will be sure to take a look (in my copious spare time :wink:), and ping you if I have questions/results to report.

[2021-04-22 09:44] ethanfrey commented on #500
If you try to run another relayer on any testnets, just use `ts-relayer`. It will save you time.
Using the quick start guide should be 15 minutes max and give you a good overview of the capabilities, then `--help` or looking at the spec on how to create a connection without a channel. (`ics20` happy path is client/connection/channel at once, but there are other commands to only create one)

[2021-04-26 14:27] #413 closed, assigned to akhilkumarpilli

[2021-04-27 10:34] #415 closed, assigned to nobody

[2021-05-11 16:24] alexanderbez commented on #477
I haven't had success creating a websocket connection using a secure endpoint. I keep getting `dial wss: unknown network wss` or `bad handshake`.

[2021-06-13 08:36] wujunyucg opened #509 "more than one ack msg found in tx query"
there are tow chains built by starport, then using "starport relayer connect" links two chains.
I used code to send ibc tx. When the txs were send fast, the error is showing. the rate is about 1tx/s.

the log :
[2021-06-13|14:37:43.299] ★ Relayed 9 packets: [test-chaina]port{testsuit1}->[test-chainb]port{testsuit1}

more than one ack msg found in tx query

I want to know how to avoid it ,thanks

[2021-06-21 03:42] anilcse commented on #479
We aer seeing a number of such errors on the osmosis relayer

[2021-06-21 03:49] anilcse opened #510 "Query packet status before relaying them"
Relayer is trying to relay packets which are already relayed. This is happening when there are multiple relayers are operating on the same path.
[code]
May be adding an extra query to check status might save some gas

[2021-06-23 12:28] AdityaSripal commented on #479
I've seen the same issue on my own node trying to submit regular transactions. So i don't know if this is a relayer issue, or an issue on cosmos-sdk in general.

[2021-08-01 16:48] faddat opened #512 "Chain Configs"
over at https://github.com/faddat/notional in the `rly` folder, we will have chain configurations for this software.

[2021-08-03 15:37] jackzampolin opened #513 "Relayer version for v1.0.0 of ibc-go"
cc @colin-axner

[2021-08-03 16:06] colin-axner commented on #513
Please continue work off of this [pr](https://github.com/cosmos/relayer/pull/501)

[2021-08-03 16:07] colin-axner commented on #513
Also see the [migration docs](https://github.com/cosmos/ibc-go/blob/main/docs/migrations/ibc-migration-043.md) on ibc-go

[2021-10-25 22:19] #33 closed, assigned to nobody

[2021-10-25 22:19] #52 closed, assigned to nobody

[2021-10-25 22:20] #62 closed, assigned to nobody

[2021-10-25 22:21] #84 closed, assigned to nobody

[2021-10-25 22:21] #103 closed, assigned to nobody

[2021-10-25 22:22] #111 closed, assigned to nobody

[2021-10-25 22:22] #132 closed, assigned to nobody

[2021-10-25 22:22] #162 closed, assigned to nobody

[2021-10-25 22:22] #176 closed, assigned to nobody

[2021-10-25 22:23] #244 closed, assigned to zramsay

[2021-10-25 22:23] jackzampolin commented on #247
we haz it now!

[2021-10-25 22:23] #247 closed, assigned to nobody

[2021-10-25 22:24] #262 closed, assigned to nobody

[2021-10-25 22:24] jackzampolin commented on #31
Closing in favor of #263

[2021-10-25 22:24] #31 closed, assigned to nobody

[2021-10-25 22:25] jackzampolin commented on #280
Pretty sure these are still borked and could use some love. Good first issue

[2021-10-25 22:25] #280 closed, assigned to nobody

[2021-10-25 22:26] #291 closed, assigned to zramsay

[2021-10-25 22:27] jackzampolin commented on #513
We even have IBC v2.0.0 now 😉

[2021-10-25 22:27] #513 closed, assigned to nobody

[2021-10-25 22:27] jackzampolin commented on #512
We now have this in the `interchain` folder!

[2021-10-25 22:27] #512 closed, assigned to nobody

[2021-10-25 22:27] #510 closed, assigned to nobody

[2021-10-25 22:28] #509 closed, assigned to nobody

[2021-10-25 22:28] jackzampolin commented on #500
Looks like some of this was undone, but 🤷‍♂️ @cosmos/strangelove has this now.

[2021-10-25 22:28] #500 closed, assigned to nobody

[2021-10-25 22:29] jackzampolin commented on #493
We done did the thang mr thang

[2021-10-25 22:29] #493 closed, assigned to charleenfei

[2021-10-25 22:30] jackzampolin commented on #479
This is more of an SDK issue because if you try to send multiple txs at the same time they each increment the sequence, easy for this to error. We take care of this with retires

[2021-10-25 22:30] #479 closed, assigned to nobody

[2021-10-25 22:30] jackzampolin commented on #477
We have removed the websocket dependancy and no longer use any websockets. Closing this issue

[2021-10-25 22:30] #477 closed, assigned to akhilkumarpilli

[2021-10-25 22:31] #439 closed, assigned to nobody

[2021-10-25 22:31] #433 closed, assigned to nobody

[2021-10-25 22:33] jackzampolin commented on #407
We need to remove the strategy interface.

[2021-10-25 22:36] jackzampolin commented on #403
This would be a cool feature but I agree it would be complex to implement. Would also need to implement and easy way to fund all those wallets so they could pay fees. I'm thinking this work wouldn't be worth it but 🤷‍♂️ if someone wants to take a stab we will review PRs

[2021-10-25 22:36] #384 closed, assigned to nobody

[2021-10-25 22:37] #383 closed, assigned to nobody

[2021-10-25 22:37] jackzampolin commented on #364
I think this still needs to be done again lol

[2021-10-25 22:38] jackzampolin commented on #355
Might be worth looking into better errors here. May also be related to simulation failures @jtieri has been digging into

[2021-10-25 22:39] jackzampolin commented on #343
Strangelove Ventures can take this

[2021-10-25 22:39] #343 closed, assigned to nobody

[2021-10-25 22:39] jackzampolin commented on #321
Is this still true @colin-axner @seantking @AdityaSripal ?

[2021-10-29 14:23] #355 closed, assigned to charleenfei

[2021-11-01 08:56] AdityaSripal commented on #321
Looks like it: https://github.com/cosmos/relayer/blob/master/relayer/relayPackets.go#L41

It should be querying next sequence recv in case of ordered channel

[2021-11-09 23:12] #276 closed, assigned to nobody

[2021-12-31 01:17] jackzampolin opened #537 "Refactor relayer cosmos provider to use lens"
https://github.com/strangelove-ventures/lens/

[2021-12-31 01:18] jackzampolin opened #538 "Refactor fetching chain configuration to use chain-registry"
The relayer currently has `fetch` commands that are used to pull canonical metadata, regarding chains/paths, from the GitHub repo [here](https://github.com/cosmos/relayer/tree/main/interchain)

To reduce redundancy we want to import this data from the [chain-registry](https://github.com/cosmos/chain-registry)

[lens](https://github.com/strangelove-ventures/lens/tree/main/internal/chain_registry) h

[2021-12-31 01:46] jackzampolin commented on #537
Major features from lens:
- new broadcast mode to block on transaction till last one is accepted https://github.com/strangelove-ventures/lens/issues/12
- better bech32 handling should eliminate the dreaded bech32 errors

[2021-12-31 16:38] franono opened #539 "Using the same seed for source and dest accounts of a path result in an error"
I experienced this whilst creating an IBC connection between juno and osmosis testnets. The config is set with account-prefix juno and osmo respectively, as below.

When I run `rly tx link <path>` I either get `rpc error: code = InvalidArgument desc = invalid Bech32 prefix; expected juno, got osmo: invalid request` or the other way round. It seems like it's using the same prefix for both chains, w

[2022-01-11 21:52] jtieri commented on #539
We are currently in the midst of a major refactor to the relayer which will ultimately result in a v2 line being cut soon (hopefully this week). Part of the work that we have been undertaking *SHOULD* kill the bech32 issues that are currently present in the relayer.

Thanks for opening an issue @franono we do appreciate it!

[2022-01-12 16:50] jtieri opened #543 "relayer start improvements"
Currently the relayer has some issues with running via the `rly start [path]` command.
To address these issues a few things must be tackled

- [ ] Send MsgUpdateClient if there has been no traffic on the channel for some configurable duration of time.
- [ ] Squash bugs/errors to get the main loop working again
    - Pass context down from the cmd to the functions called in Start loop for graceful

[2022-01-12 17:01] jtieri commented on #321
Is this still applicable? With the recent refactors to the relayer to move everything behind the provider interface this could would now exists in [lens](https://github.com/strangelove-ventures/lens/blob/dc50c1d0d3b61614f09d125d8ae931f306625057/client/relayer_packets.go#L43)

[2022-01-12 17:12] jtieri commented on #407
Strategy interface was removed in #535, maybe there is some cleanup needed still but should generally be good to go. Closing this for now

[2022-01-12 17:12] #407 closed, assigned to nobody

[2022-01-12 17:15] jtieri commented on #417
This is a good addition.
we also want to ensure that the relayer checks if a client is frozen/expired before a Msg can be submitted

[2022-01-12 17:18] jtieri opened #544 "check if client is frozen/expired before allowing a Msg to be submitted"
The relayer should generally be checking if a client is frozen/expired before users can submit Msgs on those channels

[2022-01-12 19:52] jtieri opened #545 "Squash the remaining Invalid Bech32 Prefix errors in the relayer"

[2022-01-12 20:06] jtieri opened #546 "Fix docker based test"
Copying this [issue](https://github.com/strangelove-ventures/relayer/issues/13) from the strangelove repo
Docker tests still need some TLC but may be better to address once the Provider/lens refactor is completed

- [ ] Add conditions to tests:
  * [ ] Add additional balance checks [after each set of transactions](https://github.com/strangelove-ventures/relayer/blob/main/test/relayer_gaia_test.go#

[2022-01-12 20:25] jtieri opened #547 "Refactor queries to pull paginated data in go routines"
Copying this issue over from the strangelove [repo](https://github.com/strangelove-ventures/relayer/issues/23)

Currently some queries pull a hardcoded number of objects. We should fix this and have them query for the data in a concurrent paginated fashion.

Todo: find all call sites where DefaultPageRequest is used, document them and make a plan to fix each.

[2022-01-12 20:37] jtieri opened #548 "Update systemd unit file generator"
Opening [this](https://github.com/strangelove-ventures/relayer/issues/25) issue from the strangelove repo

We removed this functionality but maybe we want to add it back?

[2022-01-12 22:09] jtieri opened #549 "Audit & update documentation to reflect changes and new relayer structure"
The relayer has seen some major refactors and needs to have all documentation audited to ensure it reflects these changes.
As we move towards cutting a stable v2 release this week we will continue to add items here that need addressed.

- [x] document dependencies (e.g. core logic is now implemented in lens and imported into the relayer
- [x] audit [quick-start guide](https://github.com/cosmos/rel

[2022-01-12 22:46] jtieri opened #550 "New & improved relayer using `Provider` interface and `lens`"
We are wrapping up the big refactor leading up to v2 which moves core relayer logic behind a `Provider` interface which allows for more flexibility in the relayer, opening up the door for new ibc implementations/integrations from non-Cosmos chains/ecosystems.

To make this all work there have been substantial changes to the config format/parsing logic to use reflection based decoding.
Here is an e

[2022-01-13 12:34] colin-axner commented on #321
I'm guessing so, as @AdityaSripal says:

Timeouts on order channels require proofs of NextSequenceRecv
Timeouts on unordered channels require non existence proofs of packet receipt.

The function linked above works for unordered channels. You need different functionality for ordered channels

[2022-01-13 12:35] colin-axner commented on #321
You can probably test with interchain accounts once beta1 is out. Beta1 will allow interchain accounts to have a timeout value specified by the user (currently set to a constant that is never reached). Interchain accounts uses ordered channels

[2022-01-13 21:19] boojamya opened #551 "QoS Reporting"
Copying over from Strangelove repo: [LINK](https://github.com/strangelove-ventures/relayer/issues/30)

As a user I should be able to query for the quality of service on a given channel over a given time period:

[code]
This should do a transaction search for MsgTransfer on each chain and also for MsgRecvPacket and MsgTimeoutPacket to compare the numbers for a given time period.

This is already im

[2022-01-13 21:35] boojamya opened #552 "RPC URLs as an array"
Migrating issue over from Strangelove Relayer: https://github.com/strangelove-ventures/relayer/issues/37
@faddat

I'd like to be able to give the config file an array of RPC urls because relaying can strain a node's capacity to continue to sync effectively and relay.

A decent default setting would be round-robin eg:

- if 2 then 50/50
- if 3 then 33/33/33
- if 4 then 25/25/25/25

This should allo

[2022-01-13 22:04] boojamya opened #553 "New channel creation should be documented"
Moved over from Strangelove Repo.
https://github.com/strangelove-ventures/relayer/issues/45

@faddat

Link Command function:
https://github.com/strangelove-ventures/relayer/issues/45

[2022-01-13 22:09] boojamya opened #554 "Acknowledgments Refactor"
Relaying acknowledgments and querying un-relayed acknowledgments still results in timeouts.

[2022-01-13 22:10] boojamya commented on #554
Issue moved over from Strangelove repo.
https://github.com/strangelove-ventures/relayer/issues/47

[2022-01-13 22:16] boojamya opened #555 "Interchain accounts testing"
Interchain account supports needs testing in Relayer.

This may or may not need to be addressed also:
https://github.com/strangelove-ventures/relayer/issues/48

[2022-01-13 23:06] #545 closed, assigned to nobody

[2022-01-14 10:40] AdityaSripal commented on #321
Seems like the `msgRelayTimeout` still only queries packet receipt. Instead it should be querying packet receipts for UNORDERED channels, and `NextSequenceRecv` for ORDERED channels.

https://github.com/strangelove-ventures/lens/blob/dc50c1d0d3b61614f09d125d8ae931f306625057/client/relayer_packets.go#L44

[2022-01-18 00:19] boojamya opened #556 "Relayer start panic"
[code]

[2022-01-18 18:26] jtieri opened #558 "Refactor `rly paths fetch` to grab files from GitHub repo instead of cloning entire directory locally"
Right now in `rly paths fetch`, when we are attempting to configure path metadata for all configured chains, we clone the entire `interchain` directory from GitHub into a temporary local directory before finding the applicable paths to configure.

Ideally instead of pulling this entire directory locally we will just pull down the path json files that we actually need. [lens](https://github.com/str

[2022-01-18 23:32] boojamya opened #559 "Query balance error"
[code]

Happens randomly. Happened a few times when querying comsoshub-4 as well.
This error is very hit or miss.

This does not happen when querying the same keys using Lens.

[2022-01-18 23:48] boojamya commented on #559
This error also effects:
`rly chains list `

See:
[code]

[2022-01-19 00:05] boojamya opened #560 "Two different ways to add chains and paths"
NOTE: Relevant to this PR: https://github.com/cosmos/relayer/tree/justin/use-chain-registry

1. `rly chains add`
2.` rly config add-chains`

Do we want to keep both of these options of adding chains and paths?

[2022-01-19 00:14] jackzampolin opened #561 "Debug output no longer shows successful or failed transactions"
This issue may need to be tackled as part of the larger logging refactor in another issue

[2022-01-19 00:24] boojamya commented on #560
Paths:

1. `rly config add-paths`
2. `rly paths add`
3. `rly paths fetch`

[2022-01-19 16:26] boojamya opened #562 "Exceeded rate limit for adding chains"
[code]

[2022-01-19 18:48] jtieri commented on #553
Tried helping the Kava team open new paths this morning for Kava<->Cosmos Hub and ran into several issues.

After adding the configuration information for Kava to the relayer config and running `rly tx link kavahub` the relayer spits out this error.

[code]

From a naive glance, it would appear that there is some issue with the new config format when trying to fetch the chains from the config. Gon

[2022-01-19 19:56] jtieri commented on #553
After some discussion with @jackzampolin it seems like a good flow for creating new paths between chains will look something like the following.

- Users generate a new empty path via `rly paths new [src-chain-id] [dst-chain-id] [path-name] [flags]`
- Users link the paths via `rly tx link [path-name]`
- Users are now ready to relay against the new path

This would allow the user to setup new paths

[2022-01-19 20:13] jtieri commented on #561
iirc the functions for logging failed txs are still in the relayer whereas the core functionality is now in lens.
Getting logging back to its previous state should be an easy fix but maybe this is something we want to put a little thought into.

[2022-01-20 17:40] jtieri commented on #560
Maybe the `rly chains add` and `rly config add-chains` should just be one command versus having the same functionality in two places.

For the paths cmds, `rly paths add` allows a user to specify a file to be added to the configuration (this is the same as `rly config add-paths` so maybe we also make this one command) but `rly paths fetch` is the automated command that does not allow a user to spe

[2022-01-25 17:43] jtieri opened #566 "Logging Refactor"
Logging in the relayer needs some serious work.

Currently we are logging data behind the `Provider` interface and also on the `Chain` struct in the relayer. This creates some issues as we move towards making the relayer flexible enough to be used with other light clients. In many of the logging calls on the `Chain` struct we rely on the `Encoding params.EncodingConfig` for marshalling/unmarshalli

[2022-01-27 17:00] jtieri opened #567 "Timing out packets results in failures in some edge cases"
Yesterday we experienced a bug when attempting to relay packets between Sommelier & Osmosis with the following path information.

[code]
A packet ended up in the queue that could not be relayed after repeated attempts and ultimately needed to be cleared via Hermes.
Other packets in the queue were able to be cleared via a command that takes a sequence number but any time this one specific packet wa

[2022-01-31 15:53] jackzampolin opened #568 "Add support for events in begin/endblock events"
I think currently we only look for events in the transactions, we also need to support begin and endblock events

[2022-02-03 17:17] jtieri commented on #567
Saw this issue arise again today during a high congestion period on the channels between Juno & Osmosis with this path information

[code]

Here is the error log again

[code]

Once this error happens it becomes virtually impossible to relay on this path with the go-relayer, even attempting to manually clear the packets by sequence number fails for the troubled packets. In this case there were 10+

[2022-02-03 20:18] adizere commented on #567
is it possible that you are submitting a RecvPacket here instead of submitting a TimeoutPacket? the error seems to indicate that

I’m asking also because it looks like osmosis is the the destination of the transaction

but the destination of timeouts should be the chain that originally did SendPacket (sommelier)

[2022-02-03 21:00] jtieri commented on #567
Hey Adi, thanks for commenting on the issue!

It definitely seems like this is what's happening. Looks like maybe timeout timestamps are not being handled correctly and the relayer may be trying to send RecvPacket vs TimeoutPacket like you mentioned.

What's interesting is that this does not happen in all cases, I have checked our tx history for our primary relayer address and I can find multiple

[2022-02-04 21:16] boojamya commented on #537
Lens is now a dependency in relayer.

[2022-02-04 21:16] #537 closed, assigned to nobody

[2022-02-04 21:18] boojamya opened #571 "Pull provider implementation back out of Lens into relayer"

[2022-02-04 21:26] #538 closed, assigned to nobody

[2022-02-04 22:40] #561 closed, assigned to nobody

[2022-02-07 17:10] jackzampolin opened #573 "Connection based paths"
We should make the go relayer relay all packets on all channels on top of a configured connection

[2022-02-08 18:27] #543 closed, assigned to nobody

[2022-02-08 18:27] #556 closed, assigned to nobody

[2022-02-09 19:59] jtieri commented on #554
This was addressed in PR #569 and appeared to be a result of an undetected race condition, so closing this

[2022-02-09 19:59] #554 closed, assigned to nobody

[2022-02-09 20:05] jtieri commented on #555
ibc-go v3 beta release has been [cut](https://github.com/cosmos/ibc-go/releases/tag/v3.0.0-beta1) so we need to spend some time testing Interchain Accounts

We need to create some documentation for users that indicated which versions of ibc-go are compatible with the various versions of the relayer

"... update its release notes to display which versions are compatible/have been tested against whi

[2022-02-09 20:10] jtieri commented on #553
We have a clear workflow for creating new paths between zones now, we just need to create some clear documentation that will be added to the README or in a separate document in `docs/`

[2022-02-10 03:48] ItsFunny opened #577 "Error: no error on QueryPacketUnrelayedAcknowledgements for ibc-0, however response is nil"
- `rly tx transfer ibc-0 ibc-1 1000000samoleans $(rly chains address ibc-1)` something wrong with it ?
[code]

[2022-02-10 04:34] #577 closed, assigned to nobody

[2022-02-11 22:18] desa opened #579 "relayer start panic"
[code]

[2022-02-12 14:48] ironsf opened #580 "readme.md"
in [readme.md](https://github.com/strangelove-ventures/relayer#readme) at step 10:
`$ rly paths fetch`
in latest release of rly there is no such option
[code]

[2022-02-13 16:31] boojamya commented on #580
Thanks for the note @ironsf

If you `make install` from the main branch, this feature exists.

It may be time to cut a new release.

[2022-02-14 18:07] jtieri commented on #579
Thanks for opening an issue @desa

We are in the final stages of pushing out a v2 of the go-relayer, this issue is addressed in the new relayer and the `rly start` command should work as intended now. If you wanted to check this new work out before we have a tagged release candidate you could checkout from the branch in this PR https://github.com/cosmos/relayer/pull/578

[2022-02-16 00:41] #550 closed, assigned to nobody

[2022-02-16 00:41] #571 closed, assigned to nobody

[2022-02-16 19:41] boojamya opened #581 "Rly Start -> update client error"
`I[2022-02-16|13:29:16.997] - [juno-1]<->[osmosis-1] - try(1/5) updating clients from chains: rpc error: code = InvalidArgument desc = proof is unexpectedly empty; ensure height has not been pruned: invalid request`

[2022-02-22 16:14] jtieri opened #584 "SMT Upgrade Support"
Relayers will need to consume query from cosmos/ibc-go#962

Need dynamic querying of proof specs for a chain in the relayer for creating light clients

[2022-02-25 19:12] jtieri commented on #580
Closing this issue since `paths fetch` is in the cmd tree but just needs to be checked out from the main branch

[2022-02-25 19:12] #580 closed, assigned to nobody

[2022-02-28 21:10] jtieri commented on #555
Interchain Accounts (IA) require relayers to initialize the client and connection handshakes and then wait for the IA module command `intertx register` to start the channel handshake. Relayers should listen for the `ChannelOpenInit` event and then finish the channel handshake to see that the IA is successfully created on the host chain and registered as an active channel in state.

Upon successful